[2019-08-04 20:19] pramodbutte commented on #1008
Its part of a big application, but I will try to extract the relevant code and post it.

[2019-08-04 23:11] 2xB commented on #1006
If this is a bug, it is a bug in PyQt5:
With the following code, you can reproduce the same effect without PyQtGraph.
[code]

[2019-08-04 23:14] #1004 closed

[2019-08-06 14:22] wailashi opened #1009 "ColorMap getLookupTable fails when alpha=None"
### Short description
The `getLookupTable` method of `pyqtgraph.ColorMap` fails to automatically determine whether alpha values should be included in a lookup table.

### Code to reproduce

[code]

### Expected behavior
A lookup table is returned.

### Real behavior
The following exception is thrown:

[code]

### Tested environment(s)

 * PyQtGraph version: 0.11.0.dev0+gad7453c
 * Qt Python bindin

[2019-08-06 16:54] 2xB opened #1011 "Plots with large numbers invisible"
### Short description
If a plot contains an array with large numbers (e.g. 1e27), it is not drawn at all.

### Code to reproduce

[code]

### Expected behavior
A plot should be drawn.

### Real behavior
No plot is drawn.

### Tested environment(s)

 * PyQtGraph version: develop commit ad7453c7818eddb3b18354c65370f416cb668b29
 * Qt Python binding: PyQt5 5.13.0 Qt 5.13.0
 * Python version: 3.7.3
 *

[2019-08-06 17:14] 2xB commented on #1009
The issue here is that `pg.ColorMap` accepts RGBA values for `color`, but it gets RGB values.
This would not be a bug itself, if the example `ImageView.py` would not do the exact same thing:

There are now two obvious reactions:
a) Change the example to use RGBA
b) Automatically transform RGB to RGBA values in `ColorMap.__init__`

I suggest to iterate over `color` and parse the entries with `pg.fu

[2019-08-06 17:16] 2xB commented on #1009
@wailashi You are probably helped with the information that you should currently initialize `pg.ColorMap` with RGBA values?

[2019-08-06 19:07] Axel-Jacobsen commented on #1007
@j9ac9k #1010 solves this issue as well as the image export

[2019-08-07 07:19] wailashi commented on #1009
I came across this when trying to get a lookup table from a HistogramLUTWidget which I am using to change the colours on a scatter plot.

I was trying to do `pg.HistogramLUTWidget.gradient.colorMap().getLookupTable(mode='qcolor')`. This fails with the same error as in my first post.

While looking into this I found `pg.HistogramLUTWidget.gradient.getLookupTable()` which has a different method sign

[2019-08-07 14:07] jcornford opened #1013 "Model-view architecture with Plotitems"
Hi, I opened a question on stack overflow (
https://stackoverflow.com/questions/57395786/how-to-use-a-model-view-architecture-with-pyqtgraph-plotting ) that I've copied in below. Sorry if you want to keep more general questions not in the issues, please feel free to close this if so. And apologies in advance if I've missed something obvious in how to code up what i'm asking!

Is it possible to imp

[2019-08-07 16:02] 2xB commented on #1009
Can you please verify whether Pull Request #1014 fixes the issue?

[2019-08-08 10:05] wailashi commented on #1009
I didn't test very thoroughly, but it seems to have fixed the issue.

Thanks!

[2019-08-08 15:13] 2xB commented on #874
@jeberger I could not reproduce a difference between executing your example with and without adding the FillBetweenItem. For me, it does not appear zoomed-out. Could you please provide a screenshot?
Which operating system are you using?
What is the output of `pyqtgraph.Qt.VERSION_INFO`?

[2019-08-08 15:48] 2xB commented on #862
Thank you for the report! Could you please verify that Pull Request #1016 fixes the issue?

[2019-08-08 15:51] 2xB commented on #853
@weike32 Does any of the comments on stackoverflow or here answer your question?

[2019-08-08 19:37] maxstrobel commented on #862
@2xB, yes, your fix seems to fix the issue. I tried the above example and everything worked as intended. I let the issue open until the pull request is merged.

Thank you!

[2019-08-09 06:32] klotzt-draeger commented on #775
i would also really like to see a release to master! the library is of great use to use but using it from develop is troublesome...

[2019-08-09 20:08] 2xB commented on #7
Could you please verify if PR #1017 fixes this issue? Also, it would be great to get your thoughts on possible implications of this PR.

[2019-08-13 02:54] weike32 commented on #853
@2xB Think for you attention to this question , and this question is solved. thinks for every help

[2019-08-13 02:54] #853 closed

[2019-08-13 16:11] DoC-Noah commented on #145
If a GLScatterPlotItem is removed from the GLViewWidget and added back again, the GLGridItems disappear.

[2019-08-13 16:38] ixjlyons commented on #145
@DoC-Noah would you mind creating a new issue for that? It might have a similar underlying cause, but this specific issue has gone through its lifecycle and seems to be fixed so I'd prefer to leave it closed.

[2019-08-13 16:42] DoC-Noah commented on #145
Sure thing

[2019-08-13 17:38] DoC-Noah opened #1018 "Removing and adding a GLScatterPlotItem removes a GLViewWidget's GLGridItems"
### Short description
This bug is mercurial and will not occur if you're only using one ScatterPlotItem, or if you toggle the second instead of the first, or if you immediately remove and then show the first item before toggling it, ...

Looks related to  #103 and #145

### Code to reproduce

[code]

Click the button twice and the grids disappear.

### Tested environment(s)

 * PyQtGraph version:

[2019-08-13 20:49] 2xB commented on #1018
I could not reproduce this on

- PyQt5 5.12.2 Qt 5.12.3
- Python 3.6.5
- Windows 10

and
 - PySide2 5.13.0 Qt 5.13.0
 - Python 3.7.4
 - Manjaro Linux (Arch)

[2019-08-13 20:50] 2xB commented on #1018
It might be caused by PySide2?

[2019-08-13 21:03] 2xB commented on #1018
Could not reproduce on

- PySide2 5.13.0 Qt 5.13.0
- Python 3.6.5
- Windows 10

@DoC-Noah How often does this occur if you try it? If you rotate the view via the left mouse button, does the grid reappear?

[2019-08-14 19:08] Kheirlb commented on #756
I'm experiencing a similar bug. Any new news on how to fix it?

[2019-08-14 21:34] DoC-Noah commented on #1018
I re-ran the code and it actually worked. But after adding another GLScatterPlotItem, it doesn't work. I updated my comment above to include a third point.

The error has occurred every time I've tried it (except the first time I ran it just now).
Rotating the view does not make the grid reappear for me.

[2019-08-15 00:21] 2xB commented on #1018
After correcting the one `pl3 = ...` to `plt3 = ...`, I could reproduce this with the new code on the following system!

 - PySide2 5.13.0 Qt 5.13.0
 - Python 3.6.5
 - Windows 10

[2019-08-15 00:49] 2xB commented on #1018
Could you please verify that Pull Request #1019 fixes this bug?

[2019-08-15 14:37] timjolson commented on #915
I suggest adding a `setOptions` or `setStyle` that can accept and update any style options, and emits either the sigPlotChanged or a new signal (that can be used to push legend updates/plot redraw).

[2019-08-15 15:35] LucaMarconato opened #1020 "Poor performance when changing colors of spots in a plot, without changing positions"
### Short description

I have a scatterplot with 2000 points and I have a QSlider which changes the colors of the points, without changing their positions. I am experiencing poor performance and the feeling of the application is laggy. In the past I used a QSlider to change an image and the rendering time was almost 20 times faster, so I believe that the performance can be improved.

### Code to r

[2019-08-15 18:49] 2xB commented on #1020
For those who want to look into this: `pg.graphicsItems.ScatterPlotItem.SymbolAtlas` is the class that takes the most time here. It is only a bit longer than 100 lines, so if one takes some time, one can understand and optimize it.

[2019-08-15 18:53] 2xB commented on #1020
Note that in case of this specific class, a rewrite might even be a good idea, as it could also improve readability.

[2019-08-15 19:10] LucaMarconato commented on #259
I think it is still not fixed

[2019-08-15 19:18] 2xB commented on #1020
Also note that the calculation of `arr` in `buildAtlas` could make heavy use of pre-caching for each symbol and size.

[2019-08-16 14:34] DoC-Noah commented on #1018
It works! :) :)

[2019-08-16 21:05] 2xB commented on #1018
That is great!

Usually, an issue is left open until the according Pull Request is merged, because while it is not merged, the issue persists, and sometimes the Pull Request is not even merged in the near future.

[2019-08-16 21:09] DoC-Noah commented on #1018
Oh whoops, thanks!

[2019-08-17 03:19] #1018 closed

[2019-08-17 03:28] #862 closed

[2019-08-17 04:43] #296 closed

[2019-08-17 04:55] j9ac9k commented on #461
As #998 is merged, we can close this guy

[2019-08-17 04:55] #461 closed

[2019-08-17 05:04] j9ac9k commented on #1013
@jcornford  pyqtgraph definitely takes a widget centric approach, but there is no reason you can't create your own wrappers for pyqtgraph objects/viewboxes that give them the relevant hooks.

In my usage of pyqtgraph, I generally treat pyqtgraph objects as views (and initialize them in the my view code).  i generally have a `PlotView` object and a `PlotController` object (no reason you can't have

[2019-08-17 05:06] j9ac9k commented on #853
@weike32 would you mind posting your solution, in case someone with the same issue comes across this page in google, or we decide to implement a "better" implementation within the library.

Thanks.

[2019-08-17 05:32] #936 closed

[2019-08-17 05:37] #1013 closed

[2019-08-17 05:39] j9ac9k commented on #993
I'm going to close this issue as I think a fix here is outside the scope of pyqtgraph, and in-line with pyopengl library.  If you feel the issue should remain open for whatever reason feel free to post.

[2019-08-17 05:39] #993 closed

[2019-08-17 05:45] j9ac9k commented on #983
A good suggestion might be to try and grab a screenshot.  If you save to the location of `$SCREENSHOT_DIR` then the screenshot will be uploaded as an artifact that you can review later.

[2019-08-17 06:23] weike32 commented on #853
@j9ac9k The example is very simple, but it reflects my solution

This link is my solution：
https://github.com/PyQt5/PyQt/blob/master/PyQtGraph/testGraphAnalysis.py

looking forward "better" implementation within the library.

[2019-08-17 13:30] titusjan opened #1021 "PR 942 introduces RuntimeError: wrapped C/C++ object of type GraphicsLayoutWidget has been deleted"
Since commit 08c0de7, which merges PR #942, I get the following error when I close my application window.

`RuntimeError: wrapped C/C++ object of type GraphicsLayoutWidget has been deleted`

The following program reproduces the issue.
[code]

I tested with PyQt 5.9 on OS-X 10.14.6.

[code]

and also with PyQt 5.6

[code]

In my opinion this PR will cause more issues than it solves. Messing with th

[2019-08-17 16:03] j9ac9k commented on #1021
As the maintainer that merged PR #942 I agree with you @titusjan that we should roll this back, and use documentation and examples to highlight the issue that PR was meant to address.  Before I go undoing another person's PR myself, I'm going to want to get more of consensus from other maintainers here.

Tagging @ixjlyons @Dschoni @2xB  @hhslepicka for input.

[2019-08-17 16:20] j9ac9k commented on #853
thanks for sharing

[2019-08-17 17:22] j9ac9k commented on #1021
Also unrelated to this issue, but @titusjan I advise you to be careful w/ Qt 5.6, we no longer test for it, and PySide2 that was running with Qt 5.6 was failing our test suite left and right.

[2019-08-17 18:52] #7 closed

[2019-08-18 00:19] ixjlyons commented on #283
Update if interested: https://github.com/pyqtgraph/pyqtgraph/issues/283 has been merged

[2019-08-18 03:36] #985 closed

[2019-08-18 03:38] #1009 closed

[2019-08-18 03:43] j9ac9k commented on #1021
I'm going to merge #1022 but I want to leave this issue open for the general discussion on what we should do on the long run.  I'm also going to quote a relevant bit from the PR that should be posted.

From #1022 by @2xB

While I'm leaning toward removing entirely (due to that's how general Qt behavior is) I'm not that strongly opinionated on the matter and would follow whatever consensus emerges.

[2019-08-18 12:56] titusjan commented on #835
@j9ac9k: again, sorry for not responding earlier but PR 921 doesn't remove the warning. Somehow the Numpy comparison is still used, even if the string is on the left hand side. Can we reopen the issue?

To reproduce the problem type the following on the IPython or Python command prompt.

[code]
I don't know what the most elegant fix is. Perhaps something like:

[code]

This is cumbersome though.

[2019-08-18 14:11] j9ac9k commented on #835
Re-opened, thanks for following up

[2019-08-18 17:17] #426 closed

[2019-08-18 19:16] #261 closed

[2019-08-19 01:19] 2xB commented on #835
Thank you, I have no idea why I was sure to have it fixed and tested in that PR, when it obviously is not. I also have no idea what the design decision behind this for Python itself is (i.e. why `str.__eq__` is `NotImplemented`, when Python obviously has some type of string equality checking built in) - so I asked why this is and how to bypass it on stackoverflow: https://stackoverflow.com/questio

[2019-08-19 10:49] Dschoni commented on #792
Closed by #793

[2019-08-19 10:49] #792 closed

[2019-08-19 13:39] 2xB commented on #835
Okay, the stackoverflow answer is very reasonable: `str.__eq__(np.ndarray)` is `NotImplemented`, while e.g. `str.__eq__(str)` is. Therefore probably the concept by @titusjan would be the one to use...

[2019-08-19 14:30] flutefreak7 commented on #835
Agreed, though using isinstance() is preferable to explicitly checking the type. `if isinstance(bins, str) and bins == 'auto':`.

[2019-08-19 15:04] j9ac9k commented on #835
Would this not be a good time to use `np.all`?

[2019-08-19 15:24] 2xB commented on #835
Well, @flutefreak7 s suggestion is faster than `np.all`, since it does not do the element-wise comparison if `bins` is a NumPy array.

[2019-08-19 15:55] j9ac9k commented on #835
I apologize, I hadn't looked too closely at this issue.  Is the underlying issue that `bins` can be either a `str` or a `np.ndarray`?  If so, we should definitely use what @flutefreak7 suggested `if isinstance(bins, str) and bins == 'auto'` then do stuff.

[2019-08-19 16:10] 2xB commented on #835
Yes, exactly that is the issue.

[2019-08-20 15:53] 2xB commented on #835
PR #1024 suggests @flutefreak7 s code. @titusjan Could you quickly verify that this now really solves the issue?

[2019-08-20 15:55] 2xB commented on #1008
@pramodbutte Okay, that sounds good! If one can help with that, just leave a comment.

[2019-08-20 18:24] j9ac9k commented on #835
@2xB Thanks for doing the PR, I was going to do it last night but decided to go to sleep instead :)

I think this may be a good use case for adding a test though.

[2019-08-20 20:10] 2xB commented on #835
Does the CI currently fail on Python warnings?

[2019-08-20 22:33] j9ac9k commented on #835
CI doesn't fail on a warning, but it does report it.  I certainly could change the CI process to fail on a warning (should I do that for #991 ?)

pytest is already configured to ignore a handful of warnings.

[2019-08-21 08:52] 2xB opened #1025 "Tests do not fail on warnings"
### Short description

The pyqtgraph library should not emit warnings when used as intended. The current tests do not reflect this.

### Additional context

For issue #835, a test was suggested to check if no warning is printed. Since this specific NumPy warning was tested to be fixed with #1024, tests are mainly interesting for every other part of the code and for future updates of third party li

[2019-08-21 08:55] 2xB commented on #835
Since we are opening a new topic here, I created a new issue for it. Failing on warning is very reasonable in my opinion.

[2019-08-21 09:20] 2xB commented on #759
`np.array(3.0)` does not create a single element NumPy array, it creates an empty 0d array. What you want to use is `np.array([3.0])` (notice the additional brackets).

Could you please verify that this solves your issue?

[2019-08-21 13:47] MikeFalowski opened #1026 "SciPy in requirements in README but not in install_requires"
Hey!
I'm wondering why SciPy is listed as a requirement in README but not in setup.py install_require argument.

Cheers,
Mike

[2019-08-21 16:59] j9ac9k commented on #1026
Hi Mike,

Thanks for opening the issue.  The scipy requirement is not a hard requirement, it's only used by some portions of the library, specifically image related component.  I agree we can be more explicit about that in `README.md`, but I'm not of the mindset of changing `setup.py` to reflect this, as there are other dependencies of pyqtgraph that are not covered in `setup.py` (specifically the

[2019-08-21 18:13] ksunden commented on #1026
`setup.py` includes the ability to have optional dependencies (most often used for dev dependencies, but perhaps we wish to add a way of specifying what scipy enables within pyqtgraph)

[2019-08-21 18:22] j9ac9k commented on #1026
We could certainly include `extras_require` field; suppose `pyopengl` would go there as well.

We would need to come up w/ names for these extras that make sense.

[2019-08-21 22:56] cloudcrypt opened #1027 "PolyLineROI's segmentClicked adds Handle and segment in wrong location after being scaled with a scale handle"
### Short description

PolyLineROI's segmentClicked adds Handle and segment in wrong location after being scaled with a scale handle

### Code to reproduce

This can be seen in examples/ROIExamples.py, by changing lines 86-87 to the following:
[code]

### Expected behavior

Before scaling the ROI using the scale handle, left-clicking a segment adds a Handle (and implicit segment) at the correct cl

[2019-08-22 13:06] wailashi commented on #1020
I'm dealing with the same problem currently. I managed to improve performance by pre-calculating a palette of QBrushes and then using `setBrush()` on each SpotItem in the scatter plot. For my plot that means updating 2800 points takes about 0.08 seconds or around 12 FPS.

@LucaMarconato maybe you could change your example to have an FPS counter and continuously update the colours at random. Your c

[2019-08-22 17:27] 2xB commented on #1027
Can reproduce on fd11e1352d9e0b15d67520354bbbf40c615bf996.

For convenience, I quickly created a *minimal working example* from the given code:
[code]

[2019-08-22 18:19] titusjan commented on #835
@2xB : PR #1024 fixes the issue. The warning is gone. Thanks.

[2019-08-23 13:44] LucaMarconato commented on #217
I am having the same problem. I am plotting 300K points and the pan and zoom performance of the ViewBox is very slow. @campagnola is OpenGL supported now? I would prefer not to switch to VisPy or other libraries if possible. Thank you.

[2019-08-24 09:43] jeberger commented on #874
Here it is: `PyQt4 4.12.3 Qt 4.8.7`

[2019-08-24 09:51] jeberger commented on #874
Here's a screenshot showing what I mean:

![Screenshot](http://jeberger.free.fr/public/pyqtgraph_issue874.png)

I would expect both graphs to look like the left one.

[2019-08-26 15:20] Streyder opened #1028 "GraphicsLayoutWidget not updating when item removed while not shown"
Hey Everyone,

I ran into the following problem today. I am not sure if I am doing something wrong, but the behavior feels unexpected.

- Add 2 lines to a plot
- Add plot to a GraphicsLayoutWidget
- Both lines shown
- Remove plot from GraphicsLayoutWidget
- Remove one line from plot
- Add plot to GraphicsLayoutWidget
- Both lines are visible although DataItem is removed from the plot

I wrote a sh

[2019-08-27 13:38] MikeFalowski commented on #1026
Thanks for explanation!
Now I'm not sure if the pull request is still actual as I don't know what is the conclusion.

[2019-08-28 15:21] liueryun opened #1029 "segmentation fault when importing PyQt5 modules"
`from pyqtgraph.Qt import QtGui, QtCore`
`from pyqtgraph.flowchart import Flowchart`
`from PyQt5.Qt import Qt #this line causes error on the fc line`

`if __name__ == '__main__':`
`app = QtGui.QApplication([])`
`fc = Flowchart(terminals={'dataIn':{'io': 'in'}, 'dataOut': {'io': 'out'}}) # segmentation fault here!`
...

Here are additional info.:
pyqtgraph version: 0.10.0
Qt Python bingding: PyQt5

[2019-08-28 17:52] 2xB commented on #1028
Hello Strey,

Thank you for this report. A quick workaround would be to call `red_line.setData([],[])` and ``red_line.hide()` before `plot.removeItem(red_line)`.
Note that to implement user hide/show functions, you should use `red_line.hide()` instead of `plot.removeItem(red_line)`.

Also note that your code does not need the `QGridLayout` you used there. Everything that is nessecary is to do (ins

[2019-08-28 18:04] 2xB commented on #1029
@liueryun Could you please paste the full output of the following script? And please put the output in "code fences" (they help with the readability of the log output):
[code]

Script:

[code]

Thank you very much in advance.
Best regards!

[2019-08-28 18:56] ibrewster opened #1030 "Zooming out can violate lockAspect option of viewBox"
### Short description
When zooming out on a plot with x and y limits, the lockAspect option can be violated at extreme zoom levels.

### Code to reproduce

[code]

### Expected behavior
When zooming out, zoom should stop once EITHER the x or y limits are reached, such that the aspect ratio specified in lockAspect is maintained. That is, with the above example, if the widget is displayed taller tha

[2019-08-28 19:41] 2xB commented on #234
I could reproduce this.

### Code to reproduce

[code]

### Tested environment(s)

 * PyQtGraph version: 0.10.0 and on branch `develop`
 * Qt Python binding: PyQt5 5.13.0 Qt 5.13.0
 * Python version: 3.7.4
 * NumPy version: 1.17.0
 * Operating system: Manjaro KDE stable (Arch Linux)
 * Installation method: Dependencies via repositories and pip, PyQtGraph directly executed from source

[2019-08-28 19:43] 2xB commented on #234
@tfeldmann It has been quite a while. Could you check if we are talking about the same bug? It seems like your bug is only happening after resizing, while for me I have problems both during and after resizing.

[2019-08-28 21:51] 2xB commented on #1028
@Streyder Could you please check if Pull Request #1031 fixes your issue?

[2019-08-28 22:06] 2xB commented on #1030
For anyone who wants to give this a try for a Pull Request, from brief looking the following is to do:

Currently, the ViewBox range can be set to values that are outside the specified region, but when painted, `ViewBox.updateViewRange(...)` calculates a ViewBox that matches the specified region. One can see that by scrolling out further when the limits are reached, and then scrolling back: One di

[2019-08-29 00:19] liueryun commented on #1029
Here are the  outputs of your script:

[code]

@2xB

[2019-08-29 10:59] Streyder commented on #1028
Hey @2xB ,

Thanks for your response. Here are my answers:

Thanks for the information on .hide() and .show() I will see if it feasible to refactor my code to use this instead

The QGridLayout and the other code are leftovers from converting my program to the example. Thanks for the notice!

For the Pull Request:
- Seems to fix the problem for me. Also fixes a variation of the problem which occurr

[2019-08-29 19:14] 2xB commented on #1029
@liueryun: I managed to reproduce this behavior without any PyQtGraph code, but could not reproduce it using PyQt 5.13.0 and sip 4.19.18. Can you verify that this error only occurs with Python 5.9?

[code]

outputs
[code]
.

[2019-08-29 19:21] 2xB commented on #1029
Sorry, I gave the wrong source code and asked the wrong question, I corrected both in my above post.
The problem here is that pyqtgraphs `GraphicsObject` overrides `itemChange`, and for whatever reason, the combination of purely overriding this method and passing a `GraphicsObject` as parent to a `QGraphicsRectItem` generates this segfault in the mentioned configuration.

[2019-08-29 19:24] 2xB commented on #1029
Further testing shows that this is independent of the SIP version, but fixed in the latest PyQt5 version. @liueryun Sorry for the SPAM - Could you please just verify that upgrading to PyQt5 5.13.0 fixes your issue?

[2019-08-30 02:17] liueryun commented on #1029
Yes! Simply upgrading to PyQt5 5.13.0 fixed my problem. Thank you very much. @2xB

[2019-08-30 08:17] tfeldmann commented on #234
I tried your example with with PySide2 and could not reproduce it.

[2019-08-30 10:24] 2xB commented on #234
@tfeldmann If you still know roughly what you did: Can you then create a Minimal Working Example for your issue, so I can try to reproduce it?

[2019-08-30 13:36] j9ac9k commented on #1029
@liueryun would you be good if we closed out this issue?  I'm not sure there is anything we can do to fix this on our end.  Not sure when a fix here specifically was made, hopefully one of the 5.12.x versions does not have this issue (as Qt 5.9.x, 5.12.x, 5.15.x are LTS versions).

[2019-08-30 14:24] #1029 closed

[2019-08-31 07:27] tfeldmann commented on #234
@2xB Your minimal example is roughly the same thing I did. I had the same trouble with the examples, too (`python3 -m pyqtgraph.examples`).
I just tested it in PySide2 and PyQt5 and everything works fine now...

[2019-08-31 14:59] 2xB commented on #192
This was fixed by the merged Pull Request #657. Thank you for the report!

[2019-08-31 14:59] #192 closed

[2019-09-03 18:18] kangalioo opened #1032 "Suggestion: datetime axis support, like in matplotlib"
Hi,
I'm currently in the process of shifting my application to PyQtGraph because of performance. First off: PyQtGraph seems great! Really fast and straightforward to use. Coming from matplotlib, I've noticed that there's unfortunately no built-in support for datetime axes.

While it's not hard to implement a basic custom AxisItem implementation yourself, making it work as seamlessly as in matplotl

[2019-09-04 01:56] j9ac9k commented on #1032
Thanks for the feature request.

I agree with you this would be a great addition to the library.  I'm not sure who will get to it when, we would gladly review any kind of pull request that incorporates this.

[2019-09-06 21:37] JPHammonds opened #1033 "Crash displaying flat image with integer values"
### Short description
I am having problems with ImageView & ImageItem when the image consists of integer array with the same values.  This came up for me when all values were zero.
My app is currently Python 2.7 using Anaconda Python, PyQt5 and pyqtgraph 0.10.0

All of my installed packages are given below

### Code to reproduce

from PyQt5.Qt import QApplication
import sys
import numpy as np

#fi

[2019-09-06 22:10] ixjlyons commented on #1033
Duplicate of #769. Version 0.11.0 hasn't been released yet, but it will fix this. You could also try [installing from the `develop` branch](https://github.com/pyqtgraph/pyqtgraph#installation-methods).

[2019-09-06 22:16] ixjlyons commented on #1033
Going to close this but let me know if I missed something or you have other issues.

[2019-09-06 22:16] #1033 closed

[2019-09-06 23:42] JPHammonds commented on #1033
Ken,

Thank you.  I tried looking for it in release notes & github issues.  I must have missed it.

John

On Sep 6, 2019 5:17 PM, Kenneth Lyons <notifications@github.com> wrote:

Going to close this but let me know if I missed something or you have other issues.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/pyqtgraph/p

[2019-09-07 01:22] j9ac9k commented on #1033
We haven't made a new release with the fix yet, hence why you didn't see any documentation on it.

[2019-09-07 04:30] ixjlyons commented on #1032
There's the [customPlot example](https://github.com/pyqtgraph/pyqtgraph/blob/develop/examples/customPlot.py), but it has similar issues. If you know you want ticks to be in increments of 1 day, you can set the tick spacing:

[code]

A more robust solution would require overriding `tickValues` so the spacing is always some multiple of the number of seconds in the relevant unit of time (years, days,

[2019-09-07 19:45] 2xB commented on #1032
There is a pull request for exactly this issue, namely PR #74.

[2019-09-07 20:07] j9ac9k commented on #1032
Nice find, should we add that PR to the 0.11 milestone?

[2019-09-09 17:23] JPHammonds commented on #1033
Note that 0.11 does fix the problem.  Until the release of 0.11 I will convert to a float array.  I need to have easy install for the users.

From: Kenneth Lyons <notifications@github.com>
Reply-To: pyqtgraph/pyqtgraph <reply@reply.github.com>
Date: Friday, September 6, 2019 at 5:18 PM
To: pyqtgraph/pyqtgraph <pyqtgraph@noreply.github.com>
Cc: "JPHammonds@anl.gov" <jphammonds@anl.gov>, Author <aut

[2019-09-09 19:17] j9ac9k commented on #1033
@JPHammonds You can install pyqtgraph from the develop branch directly via pip `pip install git+https://github.com/pyqtgraph/pyqtgraph@develop`

If you're using a `requirements.txt` file you put the following line there:

[code]

(replace the hash as needed)

I know none of this is optimal vs. a stable release on PyPI; all I can say to that is we're getting there.

[2019-09-09 19:25] JPHammonds commented on #1033
@j9ac9k Thank you for the information.  I will look into this.  I did not mean to convey negative view with my comment.  I realize the complexity of getting a new release together.  I am dealing with that on my own projects.  I meant to convey that I have tested with 0.11 and this fix will work for me.  I have found a way to deal with this using the release version and for now I think that is the

[2019-09-09 19:29] j9ac9k commented on #1033
@JPHammonds  I did not read your comment as anything negative.  I just meant to relay information that would hopefully be helpful in your present situation (or anyone else that stumbles across here via google)

I too, am dealing with a similar issue with some internal customers at my company; I'm deploying a qt based app with pyqtgraph and not being able to depend on a stable version number, or py

[2019-09-13 20:24] 2xB opened #1034 "Appearance customization example"
An example demonstrating the possibilities of appearance customization would be great, where different plot types are shown with somewhat aesthetic customizations. Then many options can be demonstrated at once, and if one looks for it, one can easily find it.

This idea came up with PR #101. This issue does not only remind us to implement this, but also allows to suggest what should be demonstrate

[2019-09-14 05:02] j9ac9k commented on #883
@2xB I'm going to close this issue again as I haven't seen this failure in quite some time now.  Hopefully it will be closed this time for good :)

[2019-09-14 05:02] #883 closed

[2019-09-14 05:04] #871 closed

[2019-09-14 15:11] op3 opened #1035 "Add symmetrical logarithmic axis scale"
Currently, pyqtgraph is able to create axes with linear or logarithmic axis scales. I would like to suggest adding a further option: symmetrical log scales, also called symlog scales:

Above and below a certain value, the scale is logarithmic. In between, however, there is a range in which data points are displayed using a linear scale. Typically, this linear range is chosen for values close to ze

[2019-09-18 02:54] laolux opened #1036 "Visibility of GLLinePlotItem and GLSurfacePlotItem depends on plotting order"
### Short description
A 3D plot with both GLLinePlotItem and GLSurfacePlotItem shows different results depending on the order of the plotted items. If the line is plotted before the surfaces, then the line will erroneously be eclipsed by the surfaces. Similarily, if the line is plotted after the surfaces, then the line will appear in front of the surface, even though parts of the line should be be

[2019-09-18 14:46] Streyder opened #1037 "Line Labels not visible for small graph values"
Hey Everyone,

I found a bug where InfLinLables attached to InfiniteLines are not properly shown, if the total y-range of the graph is too small. Simple example below.

If the label position is big enough (e.g. 0.5) the label sometimes comes into view. But this is not always the case.

The red line label also moves out of sight if you zoom in too much.

### Short description
InfLineLabels are not

[2019-09-19 07:37] wagenrace opened #1038 "pyqtgraph/examples/VideoSpeedTest.py type float has missing variable mx"
## Short description
Running  pyqtgraph/examples/VideoSpeedTest.py and setting data type to float crashes the GUI for missing variable "mx"

### Tested environment(s)

 * PyQtGraph version: 0.10.0

[2019-09-19 14:21] ixjlyons commented on #1038
This was actually just fixed with #356, though I don't think there was ever an issue pointing out the bug. Thanks for reporting.

[2019-09-19 14:21] #1038 closed

[2019-09-19 16:19] j9ac9k commented on #1038
@wagenrace just to follow up, a way to install the current `develop` branch is to run the following command:

`pip install git+https://github.com/pyqtgraph/pyqtgraph@develop`

[2019-09-20 15:59] kangalioo opened #1039 "Generating plots with many lines is slow"
### Short description
Plotting lots of curves in a single plot (>500 lines) is really slow, i.e. the `.plot(x, y)` calls take a lot of time to complete. Also, navigating the resulting plot is really sluggish.

It's not just the number of data points; when plotting the same number of data points with a single line, performance is good. That's also visible in the code to reproduce

### Code to repro

[2019-09-20 19:03] ixjlyons commented on #1039
Basically, each curve is an object where painting involves the overhead of calling a Python method, so lots of curves means lots of Python callbacks. The lines of a single curve are held in a cached `QPainterPath` and handed to a `QPainter` which iterates over the points to do rendering work in a low-level compiled (and I'd imagine fairly optimized) loop. As it stands now, pyqtgraph isn't really s

[2019-09-20 19:47] kangalioo commented on #1039
Thanks for the detailed explanation and possible solutions.

One thing I noticed that may be interesting: I tried drawing the lines in real time, i.e. call `QApplication.processEvents()` after every 20th line drawn to get a live view. While the lines were drawn one by one, I panned just a little, and with it the rendering suddenly accelerated greatly. That effect faded out after a few seconds, but

[2019-09-21 01:30] ixjlyons commented on #1039
Not sure off-hand what would cause that.

Out of curiosity I hacked together a sort of minimal implementation to test the improvement if you paint multiple paths in one paint callback like I described above. It turned out to be pretty easy but it's a just-make-it-work effort: https://github.com/ixjlyons/pyqtgraph/commit/3fd61b0403243ebc6bf54de46cf93f52f7d9efa9

Demo script:

[code]

So it's a lot

[2019-09-21 05:21] kangalioo commented on #1039
That's really nice, thank you for the effort. I'm probably going to do some sort of downsampling as a workaround, maybe also look into the PyQtGraph source code a bit to get an idea of what's going on (though I don't think I'm skilled enough to orientate myself and work on a `PlotCurveGroupItem` or similar)

[2019-09-22 02:45] ixjlyons opened #1040 "Warnings output for visible windows after test functions run"
When running the tests (I think as of merging #942), I get the following:

[code]

The `TypeError` is happening because `warnings.warn` is not available in some circumstances [[ref]](https://bugs.python.org/issue29174).

I think we just need to make sure any windows are closed at the end of the test functions so the warning isn't thrown during the tests. There aren't that many. The `TypeError` is

[2019-09-22 06:17] kangalioo opened #1041 "LegendItem.removeItem() does nothing"
### Short description
The `LegendItem.removeItem(item)` function does nothing when called.

### Code to reproduce
[code]

### Expected behavior
The legend entry should disappear when the `removeItem` function is called with the correct item.

Even nicer would be if the legend was automatically synced to the plot, i.e. calling `PlotItem.removeItem()` also removes the corresponding from the legend.

[2019-09-22 21:00] ixjlyons commented on #1041
This was sort of a silent failure because at the time of 0.10.0, `removeItem` expected the string name of the plot and no error is raised if there's no match. #584 made it possible to pass the item itself instead, so I think we can close this.

By the way, since you seem to have some interest in pyqtgraph and reporting issues, it would be helpful if you could [install from the develop branch](http

[2019-09-22 21:00] #1041 closed

[2019-09-22 21:07] kangalioo commented on #1041
Oh, that's fantastic, I didn't know there was a more recent version of PyQtGraph! Gonna install that right tomorrow

[2019-09-22 23:40] ixjlyons opened #1043 "Update pg-release.py"
The release script needs updating. Things noted in the slack channel:

- [ ] Remove deb package build
- [ ] Remove exe build
- [ ] Don't upload packages to website
- [ ] Configure docs with website move to github pages?

[2019-09-23 15:51] ixjlyons commented on #819
Fixed by #1044

[2019-09-23 15:51] #819 closed

[2019-09-26 00:57] #525 closed

[2019-09-26 14:45] jkotan opened #1047 "exportDialog looses the exporter parameters"
### Short description
The `exportDialog` widget looses the exporter parameters.
It is quite annoying.

### Expected behavior
I provide PR  #1023 with which `exportDialog` keeps the exporter parameters in a dictionary.

### Real behavior
Already set parameters disapprear.

### Tested environment(s)

 * PyQtGraph version:  '0.10.0'
 * Qt Python binding: 'PyQt4 4.11.4 Qt 4.8.7'
 * Python version: '3.

[2019-09-27 20:02] #175 closed

[2019-09-27 20:37] #1040 closed

[2019-09-27 22:31] ixjlyons commented on #826
Sorry for silence on this issue. #406 was just merged and should fix this.

[2019-09-27 22:31] #826 closed

[2019-09-27 22:32] ixjlyons commented on #371
Fixed by #406

[2019-09-27 22:32] #371 closed

[2019-09-28 20:46] 2xB commented on #1036
The reason for this behavior is that `GLLinePlotItem` has the default of `glOptions='additive'`. You expect the behavior of `glOptions='translucent'`. A workaround for you would be to do this:

[code]

I have no idea whether this is a bug or just missing documentation - perhaps others have opinions here?

The default is by the way set here:

https://github.com/pyqtgraph/pyqtgraph/blob/61ec73a741eb

[2019-09-28 21:31] 2xB commented on #1032
Okay, done!

[2019-09-29 19:40] SamSchott commented on #923
Any updates on this?

[2019-09-30 07:17] Severian-desu-ga opened #1049 "possible ffmpeg integration into pyqtgraph for saving animations"
Enhancement

Good day,

I've been trying to export an animated canvas to an .mp4 file without success. I tried using moviepy and imageio with pyqtgraph and have had constant errors or binding issues. It would be helpful if there was a save animation option like matplotlib.animation available for pyqtgraph.

Many thanks.

[2019-09-30 13:20] j9ac9k commented on #1049
Thanks for the feature request, that's a good idea!

[2019-09-30 14:23] penkod opened #1050 "Bug: Export to Matplotlib while scientific notation is being used"
Pyqgraph by default uses scientific notation, meaning that when values higher than 1000000 are present, all such values are reduced to e.g. "<reduced value> x1e+06" and the plot label is changed accordingly. However, if we then try to export the plot to matplotlib window, the original values are kept **AND** the (now wrong) label, which includes also the "(x1e+06)" part, making the plot state that

[2019-09-30 14:39] penkod commented on #1050
The fix is quite easy. I've modified the exporters/Matplotlib.py file to keep the same label and values as in the pyqtgraph plot (at least for y-axis labels and values). I've included for values:

[code]
and for view range:

[code]
Now the label and values are both correct.
![pyqtgraph_matplotlib_bug_fix](https://user-images.githubusercontent.com/54578179/65888721-48f81080-e3a0-11e9-975a-e50cdc0ce

[2019-09-30 15:58] ixjlyons commented on #1050
Good catch, thanks for reporting. You don't need permissions to submit a pull request -- the workflow is fork the repository to your own account, commit to a new branch, push to your fork, then use the GitHub interface to create the pull request. Let us know if you need help. Also see https://help.github.com/en/articles/about-pull-requests

We do need a more general solution than above, however. T

[2019-09-30 16:15] #1037 closed

[2019-10-01 08:34] penkod commented on #1050
Thank you for a quick response.

I've added more general modifications to the code which checks for the
`self.item.axes['left']['item'].autoSIPrefixScale`
which is in my case **1e-06** (float), and sets those values and view range accordingly.

I've included to first check
`if self.item.axes['left']['item'].autoSIPrefix == True`
though in all my cases, even if the values were not over 1ex06, the v

[2019-10-01 09:43] spauka opened #1052 "Multiprocess does not work in a venv"
### Short description
The multiprocessing module does not work in a python3 venv on windows. This is related to the use of Popen to create a new python instance, and incorrect detection of PID

### Code to reproduce
1. Create a new venv:
[code]
2. Try to spawn a multiprocess version of pyqtgraph
[code]

### Expected behavior
The last line should return a remote proxy to the os module on the remote

[2019-10-03 03:18] Streyder opened #1053 "Axis takes space required but does not yield it"
Hey Guys,

i am currently looking to create a plot that shows sizes from 1Å to several µm. so 1E-10 to 10E-6 maybe. Obviously I chose a logarithmic axis to do so. On this axis, I don't want to change the unit away from nm and I also don't want scientific notation for my numbers. So 1µm should not show up as 1E-6 or other scaled factors but as 1000 on my nanometer scale. And yes I am aware this wil

[2019-10-03 15:51] j9ac9k commented on #1053
Hi @Streyder ,

I suspect your implementation is probably the best thing to do given your needs.  I actually created #943 because I saw the need for something along the lines you describe.

If you are up for submitting a PR involving this kind of functionality going directly into `AxisItem` we would certainly review it.

Sorry I can't provide more information, kudos on you for subclassing and maki

[2019-10-04 21:36] borupdaniel opened #1054 "Crash when trying to get info from EllipseROI in ImageView"
### Short description
Bit new to Qt so please bear with me if this isn't a complete enough explanation! We have an app that uses Qt and I'm trying to implement some new features using pyqtgraph. One thing I'd love to be able to do is use other ROI shapes in the ImageView widget. I'm trying to do this with an ellipse as an example, but run into a crash the way I've attempted to do this. The crash a

[2019-10-06 12:07] jongra commented on #728
Hello @user-na,
I recently had the same problem.
For me the solution was to call the `exec_()` method of the application stored in pyqtgraph.
[code]
should do the job.

[2019-10-06 16:28] jongra commented on #1011
same problem observed for `np.nan` values on windows system.

[2019-10-07 16:22] takluyver commented on #775
If anyone's looking to help with those issues, there are currently three [CI-fail] issue open:

- #967: intermittent segfault with Python 3.7 on Mac
- #895: a segfault on Linux that's hard to reproduce
- #881: a CI issue on Python 2.7 Linux & Mac

[2019-10-10 05:17] jburgalat opened #1056 "Exporting to Matplotlib window fails using Python 3"
Hi all,

Using python 3, pyqtgraph cannot export plots to Matplotlib window.

### Code to reproduce
The exception will be triggered using any of the examples of pyqtgraph. Just try to export the plot to Matplotlib window.

### Expected behavior
 A matplotlib window, I guess. I was just curious and tried the action.

### Real behavior
A crash related to a the following exception. One just have to r

[2019-10-10 18:13] jburgalat commented on #1056
👍 It works like a charm with the develop version !
I guess we can close this issue ? Or would you like to leave it opened until the next release ?

[2019-10-10 18:34] #1056 closed

[2019-10-10 20:29] j9ac9k commented on #1056
@jburgalat thanks for verifying, I'm good with the issue being closed.

Thanks for following up!

Also for the record, I'm using pyqtgraph from the develop branch in my work and personal projects, I know it's less than ideal, but I do consider this project stable enough.  Hopefully we'll get the new stable release out sooner than later.

[2019-10-12 04:23] 2xB commented on #1011
@jongra Could you please post an example and screenshot? I tried the following on Windows and it looks fine.

[code]

[2019-10-14 13:22] jongra commented on #1011
Hi @2xB ,
thank you for your reply.
I just copied your example, but on my system (Win10 Education 64bit, i3-2120, Dell U2412M onboard graphics, python version 3.7.4, pygraph v. 0.10.0, PyQt5 v. 5.13.1, numpy v. 1.17.2) the plot is empty (cf. screenshot) and python doesn't raise any errors.
If I replace the `np.nan` with a `4`, it works fine and the graph shows a nice line plot.

![screen_1](https:

[2019-10-15 09:05] sem-geologist commented on #1035
I also would want to add sqrt scale (very useful in spectrometry). I think there is very huge problem how currently nonlinear scaling is implemented. The log<->linear conversion code is scattered through code base from `PlotItem` to `PlotDataItem` and Axes. However lots of GraphicItems have no method to convert its coordinates to log position, and either stays in wrong position or crashes pyqtgrap

[2019-10-15 12:25] 2xB commented on #1011
@jongra Interesting! My Windows system does not show this. Environment:

 * PyQtGraph version: both current develop and 0.10.0
 * Qt Python binding: PyQt5 5.12.2 Qt 5.12.3
 * Python version: 3.6.5
 * NumPy version: 1.14.3
 * Operating system: Windows 10
 * Installation method: Git, Anaconda

[2019-10-15 13:21] jongra commented on #1011
@2xB , yes indeed.
I've tried it today on a different windows machine with the same specs and it works fine.
Seems to be a collision only on the first machine.
It would be very interesting for me to find the cause of this problem, since I cannot move to the second machine for production.
I would be grateful for any advice on how to debug the problem further.

[2019-10-15 13:55] j9ac9k commented on #1011
@jongra I'm not sure what can cause this discrepancy, if I was to start guessing, I would look at graphics drivers and test with a bunch of different Qt bindings (pyqt5 5.12.0 - 5.13.1, and same with pyside2).  Not that it should matter, but would it be possible to swap monitors between your two systems?

If you can come up with a test that detects this issue and fails on one machine, but passes o

[2019-10-15 14:09] 2xB commented on #1011
@jongra Thank you, that will be helpful! First, can you test if this still occurs when installing the newest version from the `develop` branch, so we do not track a bug that was already fixed? This can be done via

`pip install git+https://github.com/pyqtgraph/pyqtgraph@develop`

.

[2019-10-15 16:08] 2xB commented on #1054
Could reproduce. Here is an example that can be executed without modification:

[code]

[2019-10-15 16:10] 2xB commented on #1054
The crash occurs when the ellipse handles are moved.

[2019-10-15 19:52] summoningdark opened #1057 "plots not showing with NaN"
### Short description

Plotting data with np.nan results in an empty plot.

### Code to reproduce

[code]

### Expected behavior

Two plots with random data.

### Real behavior

First plot shows as normal.
Second plot is empty.
[code]

### Tested environment(s)

 * PyQtGraph version: 0.11.0.dev0+ged6586c
 * Qt Python binding: PySide2 5.13.1 Qt 5.13.1
 * Python version: 3.7.3
 * NumPy version: 1.17

[2019-10-17 00:04] 2xB commented on #1011
I could reproduce the error, it occured after updating to PyQt5 5.13.1.

[2019-10-17 00:05] 2xB commented on #1057
I can reproduce this bug after updating from PyQt5 5.12.2 to PyQt5 5.13.1 under Windows 10.

[2019-10-17 00:08] 2xB commented on #1057
This is a duplicate of an issue discussed in the comments of issue #1011 with @jongra. I would suggest to continue the analysis from there over here.

[2019-10-17 00:30] 2xB commented on #1057
The issue seems to be that previously, Qt drawed the part of a path that it could draw, and now it does not draw anything if one part of the path is invalid. The path is created using `PlotCurveItem.getPath` and `PlotCurveItem.generatePath`, so if anyone comes up with a neat way to filter the path for `nan` entries, a Pull Request would certainly be welcome! Also, it would probably be an idea to a

[2019-10-17 08:29] jongra commented on #1011
Yes, the error occurs only in the newest PyQt5 version 5.13.1. Version 5.13.0 works.
For me this solves the problem by now. Thank you all.

[2019-10-17 08:40] jongra commented on #1057
Plotting multiple paths, separated by np.nan values, can be achieved by the `pyqtgraph.PlotCurveItem` parameter `connect = "finite"`
See here: [pyqtgraph.PlotCurveItem.setData](http://www.pyqtgraph.org/documentation/graphicsItems/plotcurveitem.html#pyqtgraph.PlotCurveItem.setData)

[2019-10-17 13:52] 2xB commented on #1057
@jongra That is true in theory. It would work this way: `functions.arrayToQPath(x, y, connect='finite')` would create a `QPainterPath` that contains `nan` values, but carries a connected=0 flag that prevents it from showing a connected line, so it is therefore invisible and effectively splits the path.
Now the issue is that `QPainterPath`s containing `nan` values are not painted at all, so a path

[2019-10-17 13:56] j9ac9k commented on #1011
This would likely be worth posting to the riverbank computing mail list.

[2019-10-17 18:50] summoningdark commented on #1057
I still see the issue with Pull Request #1058. I think the reason is that while the changes set connectivity flags for the offending points, the values are still NaN. Adding the following lines fixes it for the connect='finite', but would mess up the 'all', 'pairs' or connect=array cases:
[code]

[2019-10-18 16:44] 2xB commented on #1057
@summoningdark Oh, I made a mistake. I did something similar to what you suggested, but my solution still fails if two non-finite values are side by side. As soon as I have time, I will have a look at how to fix that.

[2019-10-18 16:47] 2xB commented on #1057
I am speaking about these lines in the PR:

[code]

[2019-10-18 19:23] j9ac9k commented on #756
@cosminpolifronie @Kheirlb

An item in the changelog for Qt 5.13.1 caught my attention that may be relevant:

[code]

I would be eager to get an update on this issue if either of you install either PySide2 5.13.1 or PyQt 5.13.1 and report back.

Thanks

[2019-10-18 19:43] wuyuanyi135 opened #1059 "Flowchart context menu shows redundant submenu."
### Short description

The flowchart widget's context menu shows some useless submenu. It is caused by
https://github.com/pyqtgraph/pyqtgraph/blob/ed6586c7ddd3ad95eadd40cb8fda7c4c1d4c746b/pyqtgraph/flowchart/Flowchart.py#L837-L838

![image](https://user-images.githubusercontent.com/11760870/67123142-74ab3100-f1bd-11e9-8d09-911a758b40c5.png)

### Code to reproduce

### Expected behavior

The submen

[2019-10-18 21:52] cosminpolifronie commented on #756
Sadly the bug is still there with PyQt 5.13.1 😢.

[2019-10-18 22:47] rwalroth opened #1061 "AttributeError: module 'pyqtgraph.widgets' has no attribute 'RemoteGraphicsView'"
### Short description

Trying to use RemoteGraphicsView throws an error, says there is no RemoteGraphicsView module
### Code to reproduce

[code]

### Expected behavior

Create a RemoteGraphicsView object
### Real behavior

[code]

### Tested environment(s)

 * PyQtGraph version: 0.10.0
 * Qt Python binding: PyQt5
 * Python version: 3.7.4
 * NumPy version: 1.16.4
 * Operating system: Windows 10
 *

[2019-10-21 14:11] agamemnonc commented on #452
Is it possible to fill the space between the origin and the line with colour with this workaround? I have tried using a `PlotCurveItem` but I am not able to achieve what I want.

[2019-10-23 15:44] ixjlyons commented on #1061
You should be able to import it with `from pyqtgraph.widgets.RemoteGraphicsView import RemoteGraphicsView`. We could implement some imports in `widgets/__init__.py` to make this a bit less of a hassle -- maybe that should be a separate issue.

[2019-10-26 23:05] isgursoy commented on #1059
"Add Node" option is doubled everytime after I click "Options" custom action.
Action added in this way:
[code]
![bug](https://user-images.githubusercontent.com/2170245/67627054-af683580-f85d-11e9-8717-d3ad491eb043.png)

[2019-10-28 14:36] 2xB opened #1064 "PyQt5 test images missing"
Since commit c58a177561829920fadfdcc1fbee2160f44126b3 the image comparison is massively relaxed for PyQt5 because the test images do not work for PyQt5. That commit says "we will nee[d] new test images to cover". This seems not to have happened so far, and in my tests, the deviation between test and new images are in the order of hundreds of pixels. So this is an issue that is left to be done.

[2019-10-29 13:44] james0807 commented on #756
I'm seeing something similar (I think), viewing a plot on a 4k display with 250% scaling, the line in the plot seems to become discontinuous? I'll try to upload a screenshot soon.

[2019-10-29 14:01] isgursoy opened #1065 "Drawing terminal connections in FlowChart is expensive"
### Short description
Drawing lines between terminals of Flowchart takes %40 cpu.

### Expected behavior
It should not be that expensive.

### Real behavior
 If I move a node without connections I see %10 CPU usage. If I move a node with just one connection, I see %40.

You can try it by FlowChart example.

### Tested environment(s)

 * PyQtGraph version: Latest git
 * Qt Python binding: 5.13.1
 *

[2019-10-30 20:38] rwalroth commented on #1061
That works! I would vote for implementing this into the __init__.py to make it more consistent with other widgets, but closing this now.

[2019-10-30 22:17] j9ac9k commented on #1061
Going to re-open so we remember to submit a PR for this fix.

[2019-11-03 04:36] #1059 closed

[2019-11-03 05:06] j9ac9k commented on #1061
Looking at `widgets/__init__.py` I saw some commented out code

[code]

Looks like there was some intention to not have this guy be included right off the bat.

I'll make a PR with the change and see if anything breaks.

[2019-11-03 05:16] j9ac9k commented on #1047
#1023 was merged, thanks for the issue and following PR!

[2019-11-03 05:16] #1047 closed

[2019-11-06 11:29] sharon92 opened #1068 "PolyLineROI Performance issue with setPoints()"
I am using PolyLineROI to allow the users to edit plot data by dragging on handles or making new segments. To edit a new plot, I update the ROI with setPoints().

However this is not the most efficient option to use when you have >100 plot points.
It takes as long as 4 seconds to update 150 points on the PlotWidget.

Deleting the PolyLineROI item completely and adding a new one for each plot is so

[2019-11-07 09:37] UsYer commented on #692
Hi,
this issue is not fixed with #876 and I'd like this issue to be reopened.
When plotting an array containing python bools or numpy bool_ a TypeError is raised:

  File "C:\develop\gitRepos\livetrace\third_party\pyqtgraph\pyqtgraph\graphicsItems\PlotItem\PlotItem.py", line 608, in plot
    self.addItem(item, params=params)
  File "C:\develop\gitRepos\livetrace\third_party\pyqtgraph\pyqtgraph\gra

[2019-11-07 09:46] UsYer opened #1070 "Plotting an array with bool or numpy.bool_ fails with TypeError: numpy boolean subtract deprecated in ViewBox"
### Short description
Plotting an array containing bool or numpy._bool_ fails with a TypeError in ViewBox.
This relates to #692 which was falsely marked as fixed even though the related PR did not fix this issue.

### Code to reproduce
[code]

### Expected behavior
The array should be plotted as zeros and ones

### Real behavior
Exception:
[code]

### Tested environment(s)

 * PyQtGraph version: 0

[2019-11-08 16:57] j9ac9k commented on #692
Just as I re-opened this issue, I saw that you created a new one, so I'll close this out again.  Discussion should take place in #1070

[2019-11-08 16:57] #692 closed

[2019-11-09 05:15] ixjlyons commented on #1070
[The docs](http://pyqtgraph.org/documentation/graphicsItems/plotdataitem.html#pyqtgraph.PlotDataItem.__init__) actually specify x/y are expected to be numeric:

But I can see how upgrading numpy causing an application to break isn't great. I suppose we can explicitly cast bool input data to int in `PlotDataItem.setData`.

[2019-11-12 06:39] zhoubo-lab opened #1075 "3D Graphics is not work. pyqtgraph.opengl not work."
The issue report as the following show and my pyqtgraph version is 0.11.0.dev0

  File "C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\lib\site-packages\pyqtgraph\opengl\GLViewWidget.py", line 14, in <module>
    w = gl.GLViewWidget()

AttributeError: module 'pyqtgraph.opengl' has no attribute 'GLViewWidget'

[2019-11-12 08:02] zhoubo-lab commented on #1075
1: I doubt it is OpenGL.GL issue. Because I try to link this OpenGL.GL, But it can not open. But when I try to download this file, there is no right version which can be found by myself.
2:  Above information just some clue for you.

from OpenGL.GL import *
from OpenGL import GL

[2019-11-12 16:36] #851 closed

[2019-11-12 17:01] #747 closed

[2019-11-12 17:02] #1026 closed

[2019-11-13 09:02] topherbuckley commented on #310
If you want to adjust the height of each bar, it would actually be `bg.setOpts(height=np.random.random(60));`  At least that is what I was looking for when I arrived here. I'm not sure what setting y does in the bargraphitem, but it wasn't useful for me.

[2019-11-13 17:11] paulmueller commented on #484
Looks like a duplicate of https://github.com/pyqtgraph/pyqtgraph/issues/105

[2019-11-14 01:32] zhoubo-lab commented on #1075
It is not OpenGL.GL issue because I install it, but it still not work.
S

[2019-11-14 04:17] ixjlyons commented on #1075
A few questions that might help figure out what's going on:

- What exactly are you trying to run? Could you provide a script that gives this error?
- How did you install pyqtgraph?
- Could you share the output of `conda list`?

[2019-11-14 04:45] zhoubo-lab commented on #1075
the following is my script which is demo of example:
# -*- coding: utf-8 -*-
"""
Demonstrates GLVolumeItem for displaying volumetric data.
"""
## Add path to library (just for examples; you do not need this)
#import initExample

from PyQt5 import QtGui
import pyqtgraph as pg
from pyqtgraph.Qt import QtCore, QtGui
import pyqtgraph.opengl as gl

app = QtGui.QApplication([])
w = gl.GLViewWidget()
w.o

[2019-11-14 04:45] zhoubo-lab commented on #1075
Here is error:
 w = gl.GLViewWidget()

AttributeError: module 'pyqtgraph.opengl' has no attribute 'GLViewWidget'

[2019-11-14 04:47] zhoubo-lab commented on #1075
Here is conda list
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0    defaults
alabaster                 0.7.12                   py37_0    defaults
anaconda                  2019.07                  py37_0    defaults
anaconda-client           1.7.2                    py37_0    defaults
anaconda-navigator        1.9.7

[2019-11-16 16:37] jpgill86 opened #1077 "Incompatibility with Python 3.8 on Windows"
As has been summarized [here](https://github.com/conda-forge/pyqtgraph-feedstock/issues/10), pyqtgraph 0.10.0 is broken in Python 3.8, for Windows only. The issue was fixed in #980, but this hasn't been released yet. If there aren't plans to create a new release in the near future, would it be possible to get a backport of that fix, released as 0.10.1 (or 0.10.0.1)?

[2019-11-16 17:23] j9ac9k commented on #1077
Hi @jpgill86

Thanks for the report.  Current stable release being incompatible with python 3.8 is a known issue (hence the accepted pull request you referenced).  We're getting close to a release, you can see our project progress here: https://github.com/pyqtgraph/pyqtgraph/projects/1  We don't have a release date ready.

One particular hold up has been getting consistent CI results on macOS invo

[2019-11-16 17:23] #1077 closed

[2019-11-16 17:44] jpgill86 commented on #1077
Thanks for the background, @j9ac9k! I wasn't aware of the project page.

I'm a Windows user, so unfortunately I don't already have experience that I could apply to the particular Mac issue you described. However, when I have some more time I'll poke around the project page in search of ways I can contribute.

Requiring a development version of pyqtgraph for [my cross-platform app](https://github.c

[2019-11-19 04:14] yuriok opened #1078 "unexpected continuous increase of width in `updateSize` func of `LegendItem`"
### Short description
When I use LegendItem and add/remove the items inside multi times. The width of legend will continuous increase.

### Code to reproduce
import pyqtgraph as pg
[code]

### Expected behavior
The width should be the max width of each item in legend.

### Real behavior
It continuous increased.

### Tested environment(s)

 * PyQtGraph version: 0.10.0
 * Qt Python binding: PyQt5 5.

[2019-11-19 04:33] #1078 closed

[2019-11-19 04:34] yuriok commented on #1078
Have been fixed in develop branch

[2019-11-19 16:15] #1061 closed

[2019-11-20 04:03] j9ac9k commented on #16
Fixed with #88 being merged

[2019-11-20 04:03] #16 closed

[2019-11-20 04:03] j9ac9k commented on #105
Fixed with #88 being merged

[2019-11-20 04:03] #105 closed

[2019-11-20 04:03] j9ac9k commented on #484
Fixed with #88 being merged

[2019-11-20 04:03] #484 closed

[2019-11-20 04:46] ixjlyons commented on #1075
I would suggest trying to re-install pyqtgraph maybe. Again, how did you install 0.11.0.dev in the first place? Aside from that, I guess we need some more information about your environment. Are you using an IDE? Or how are you executing the example script?

[2019-11-20 05:42] #578 closed

[2019-11-20 05:44] j9ac9k commented on #923
Hi @SamSchott sorry it's taken us so long to get to this.  I just merged #958 thank you for your contribution.  I'm going to go through other relevant issues and PRs and close them as well to try and tidy things up.

[2019-11-20 05:44] j9ac9k commented on #579
Implemented with #958

[2019-11-20 05:44] #579 closed

[2019-11-20 05:45] #923 closed

[2019-11-20 08:33] zhoubo-lab commented on #1075
Hi thanks for your feedback
A:) I install 0.11.0.dev is because one of whl need this version to run.
B:) The information of your need:
B.1):  Environment
Python 3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)] :: Anaconda, Inc. on win32

Warning:
This Python interpreter is in a conda environment, but the environment has
not been activated.  Libraries may fail to load.  To activat

[2019-11-21 01:53] tiantian1645 opened #1081 "CSV export broken"
### Short description
Export CSV failed when the plot name has decode error characters.

### Code to reproduce
[code]

### Expected behavior
Export CSV Success

### Real behavior
Export CSV Failed

[code]

### Tested environment(s)

 * PyQtGraph version: 0.11.0.dev0+g2203933
 * Qt Python binding: PyQt5 5.13.2 Qt 5.13.2
 * Python version: Python 3.7.5
 * NumPy version: 1.17.4
 * Operating system: W

[2019-11-21 06:23] j9ac9k commented on #1021
Given we haven't had an update on this issue in a few months, and it seems like the fix ( #1042 ) has addressed the issue at hand, I'm going to close this issue out.

[2019-11-21 06:23] #1021 closed

[2019-11-21 06:27] j9ac9k commented on #779
Haven't had an update to this issue in a few months, so will close due to being unable to reproduce.  @rudrathegreat if you're able to reproduce this issue still, let me know and I'll reopen.

[2019-11-21 06:27] #779 closed

[2019-11-21 06:33] j9ac9k commented on #632
@faststare sorry nobody has followed up here with you on this.

Generally speaking, if you want overlapping plots with different y-axes, the best way to do that is to super-position viewboxes, where each viewbox contains one plot that want to use.  In order to do that, you will need to figure out what you want to do with your vertical axes.

I'm going to close out this issue, but I'll link you to

[2019-11-21 06:33] #632 closed

[2019-11-21 06:38] j9ac9k commented on #737
A while ago, I stumbled across this resource: https://pyviz.org/overviews/index.html

I think it's fantastic, and we should reference it on the website.

[2019-11-23 17:30] paulmueller commented on #532
I think this was fixed by #1076

[2019-11-23 18:18] paulmueller commented on #176
I can also confirm this bug.

When explicitly plotting the scatter plot with "pxMode=False", the offset goes away:
[code]
![rect992](https://user-images.githubusercontent.com/2853022/69483258-4f958800-0e25-11ea-9f8c-e5daf0ce7ca6.png)

Note that:
 - This bug appears only if `pxMode == True`
 - Here, the circles are transformed along with the GraphicsWindow size (setting rectangular GraphicsWindow s

[2019-11-24 04:26] ixjlyons commented on #532
Agreed, thanks @paulmueller

[2019-11-24 04:26] #532 closed

[2019-11-25 06:30] AndyYangjd opened #1084 "how to add a ray to viewbox"
Hi,
How can a add a ray to viewbox except using QGraphicsLineItem.
I can only  find any option in InfiniteLine.

Thanks for your amazing module.

[2019-11-25 14:42] paulmueller opened #1086 "Symbols scale with window aspect ratio if `pxMode==False`"
When exporting a ScatterPlotItem with `pxMode=False`, the scatter symbols are scaled with the window's aspect ratio.

### Code to reproduce
[code]

### Expected behavior
The symbols should not be stretched.

### Real behavior
![test4](https://user-images.githubusercontent.com/2853022/69549791-36faae80-0f9a-11ea-8796-de2ff64b0071.png)

### Tested environment(s)
 * PyQtGraph version: develop (19c9e5

[2019-11-25 14:43] paulmueller commented on #176
I have created a separate issue for the scaling problem: #1086

[2019-11-25 14:47] paulmueller commented on #176
I believe I have fixed this issue with https://github.com/paulmueller/pyqtgraph/commit/54d3490bbde3d013b56b1ea453bd4a5a9459579c

...but I am hesitant to create a PR, because I really don't know what I did there.

[2019-11-25 15:01] j9ac9k commented on #1084
The relativity example uses `QGraphicsLineItem`, you can see it being added here: https://github.com/pyqtgraph/pyqtgraph/blob/3d3d0a24590a59097b6906d34b7a43d54305368d/examples/relativity/relativity.py#L676-L703

[2019-11-25 15:01] #1084 closed

[2019-11-25 15:27] paulmueller commented on #176
For the sake of completeness:
- All the changes I made are recorded in https://github.com/paulmueller/pyqtgraph/commits/possible-fix-for-176 (Nov 25tj 2019)
- This only fixes things for PlotItem, not for ViewBox (can be tested by exporting individual plots using right-click export in the ScatterPlot example)

[code]

176.png:
![176](https://user-images.githubusercontent.com/2853022/69552951-9d3600

[2019-11-25 15:35] j9ac9k commented on #1075
hi @zhoubo-lab

I'm still curious how you installed pyqtgraph, you're not getting the git commit hash as part of the dev version, which is a bit puzzling.  Also it appears you have a whole lot of packages installed to that python environment; it's possible that there is some conflict with pyopengl.

Alternatively, if you want us to reproduce, can you provide us with an `environment.yml` file and i

[2019-11-26 01:26] zhoubo-lab commented on #1075
There are three folder which have environment.yml file.
1: In folder: C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\pkgs\conda-4.7.10-py37_0\info\test\tests\conda_env\support\saved-env. The content as following show:

name: to-save
dependencies:
  - python

[2019-11-26 01:27] zhoubo-lab commented on #1075
2: In folder: C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\pkgs\conda-4.7.10-py37_0\info\test\tests\conda_env\support\foo: the content as the following show:

name: test
dependencies:
  - numpy

[2019-11-26 01:29] zhoubo-lab commented on #1075
3: In folder: C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\pkgs\conda-4.7.10-py37_0\info\test\tests\conda_env\support\example: the contetn of environment.yml as the folloing show:
name: test
dependencies:
  - numpy

[2019-11-26 01:32] zhoubo-lab commented on #1075
In the 3 folder: C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\pkgs\conda-4.7.10-py37_0\info\test\tests\conda_env\support\example.  there are another two files:
A: environment_pinned.yml
B: environment_pinned_updated.yml
A: environment_pinned.yml 's content:
name: test
dependencies:
  - flask==0.12.2

B:  environment_pinned_updated.yml's content:
name: test
dependencies:
  - flask==1.0.2

Hope

[2019-11-26 01:32] zhoubo-lab commented on #1075
In the 3 folder: C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\pkgs\conda-4.7.10-py37_0\info\test\tests\conda_env\support\example.  there are another two files:
A: environment_pinned.yml
B: environment_pinned_updated.yml
A: environment_pinned.yml 's content:
name: test
dependencies:
  - flask==0.12.2

B:  environment_pinned_updated.yml's content:
name: test
dependencies:
  - flask==1.0.2

Hope

[2019-11-26 01:43] zhoubo-lab commented on #1075
And I use python to run, the following is results:

C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\Lib\site-packages\pyqtgraph\examples>python GLVolumeItem.py
Using PyQt5 (default graphics system)
Traceback (most recent call last):
  File "GLVolumeItem.py", line 11, in <module>
    import pyqtgraph.opengl as gl
  File "C:\Users\zhoubo\AppData\Local\Continuum\anaconda3\lib\site-packages\pyqtgrap

[2019-11-26 02:13] j9ac9k commented on #1075
Can you tell us how you installed pyqtgraph?

[2019-11-26 10:45] paulmueller opened #1087 "Propose removal of `GraphicsScene.ExportDialog.ExporterParameters`"
I propose to remove `ExportDialog.exporterParameters`. They are used to remember the export parameters of an exporter when the user switches between exporters (e.g. SVGExporter and ImageExporter).

https://github.com/pyqtgraph/pyqtgraph/blob/db483f8ec22a0d53bd0e71fac69b0045a96c6637/pyqtgraph/GraphicsScene/exportDialog.py#L127-L136

### Reasons

1. I doubt that anyone actually needs this.

2. I wou

[2019-11-26 12:23] AndyYangjd commented on #1084
ok， thank u.

[2019-11-28 12:21] mtsch opened #1089 "Infinite line hangs when drawn on plot with large difference between `x` and `y` ranges"
### Short description
When adding an infinite line to a graph with a large difference between `x` and `y` ranges, the program hangs. It can't even be killed with Ctrl+C.

### Code to reproduce
[code]

### Tested environment(s)
This was reproduced on two machines with the following configurations:
 * PyQtGraph version: `'0.10.0'` and `'0.10.0'`
 * Qt Python binding: `'PyQt5 5.12.3 Qt 5.12.5'` and `

[2019-11-30 00:51] ixjlyons commented on #1089
Confirmed. Haven't completely solved it but here are some notes:

I'm seeing it get stuck here: https://github.com/pyqtgraph/pyqtgraph/blob/db483f8ec22a0d53bd0e71fac69b0045a96c6637/pyqtgraph/graphicsItems/InfiniteLine.py#L345

Relevant snippet from backtrace:

[code]

Using a solid pen rather than a dashed one seems to work fine.

I tried to produce a pure Qt example, but I haven't gotten one to g

[2019-12-01 09:24] zhoubo-lab commented on #1075
Dear:
A):  Thanks very much for your reply.  the following is information of my way about install on another my computer. The 3D part of running example also still not work as before. but All other part of running example work well.
B):  Consultation：What is correct way of install pyqtgraph?

pip install pyqtgraph
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting pyqtgraph

[2019-12-02 22:01] campagnola commented on #1087
I am totally fine with dumping `exporterParameters`. Thanks @paulmueller!

[2019-12-03 10:56] paulmueller commented on #1087
Turns out that removing exporterParameters already fixes the bug I described...

[2019-12-04 03:03] campagnola opened #1091 "RuntimeError with ImageView + exporter"
### Short description
The example below produces a RuntimeError on windows (but not Linux).

### Code to reproduce
[code]

### Real behavior

After several iterations through the for-loop, a RuntimeError occurs (although not always in exactly the same location):
[code]

### Tested environment(s)

Error occurs on:
[code]

[2019-12-04 04:34] j9ac9k commented on #1091
Funny, I just ran into this same issue ~4 hours ago myself, was going to work on a minimum working example tomorrow.

[2019-12-10 00:03] ibrewster commented on #1030
I have fixed this issue in my development fork, and could certainly create a pull request, but I'm a bit hesitant to due to the fact that I have only tested the changes in my application - there could easily be situations that the logic I used doesn't handle properly. Is this an issue for creating the request?

[2019-12-10 00:23] j9ac9k commented on #1030
We would welcome a PR, but it should have some test code bundled with it.  When looking at the PR we may add more test cases and see if we can address them there.

[2019-12-10 13:54] Fantasticer commented on #1057
I can fxi this bug after updating to PyQt5 5.13.0 under Windows 10.

[2019-12-10 21:54] Vin985 opened #1094 "LegendItem.setParentItem fails when no offset is provided"
### Short description
In the current development version, calling setParentItem() on a LegendItem without offset results in an exception and crash.
This is because the offset value seems now to be saved in self.opts["offset"] while it was in self.offset before.
Right now setParentItem() checks if an offset exists by checking in the wrong place but uses the right offset afterwards. If no offset is

[2019-12-11 02:02] jcyrss commented on #342
When will the stable release supporting pyside2 be avaliable on PYPI?

[2019-12-11 11:59] neumann-nico opened #1095 "QGraphicsEllipseItem gives wrong shape"
I'm trying to combine multiple QGraphicsEllipseItem to one QPainterPath. To archive this I use the shape() function and simplify the QPainterPath.
When I set the span angle to 360 degrees I get the right output. But when I use a lower degree (e. g. 359 or 180) the shape of the QPainterPath I get strange shape.
Red is what I want and blue is what I get.

### Short description
QGraphicsEllipseItem g

[2019-12-11 16:18] j9ac9k commented on #342
Hi @jcyrss we're talking internally about doing an RC release soon (we're all volunteers that work off-the-clock on this project, so soon is really a matter of when we have time).

For the time being, you can install from the `develop` branch directly via pip by running

[code]

or alternative if you're using a `requirements.txt`  file you have to specify a commit, but the entry would be something

[2019-12-11 16:31] kamikaze commented on #342
Guys, I can upload your package to pypi if it's hard

ср, 11 дек. 2019 г., 18:18 Ogi Moore <notifications@github.com>:

[2019-12-13 12:06] edusanvaz opened #1096 "Pyqtgraph not working in Python 3.8 [bug]"
It seems that in Python 3.8, package time does not implement 'clock' class, since it was deprecated in prvious versions. The error message when importing Pyqtgraph is:

AttributeError: module 'time' has no attribute 'clock'

I think it could be fixed quite easy.

Best regards,
Eduardo Santamaría Vázquez.

[2019-12-16 05:59] ksunden commented on #829
We have now released 0.11.0rc0 to [pypi](https://pypi.org/project/pyqtgraph/0.11.0rc0/).

[2019-12-16 05:59] ksunden commented on #1077
We have now released 0.11.0rc0 to [pypi](https://pypi.org/project/pyqtgraph/0.11.0rc0/).

[2019-12-16 06:00] ksunden commented on #1056
We have now released 0.11.0rc0 to [pypi](https://pypi.org/project/pyqtgraph/0.11.0rc0/).

[2019-12-16 06:00] ksunden commented on #775
We have now released 0.11.0rc0 to [pypi](https://pypi.org/project/pyqtgraph/0.11.0rc0/).

[2019-12-16 07:00] jpgill86 commented on #1077
Exciting! When I have more time I'll give it a try!

[2019-12-16 15:00] Dschoni commented on #1096
Fixed in #980

[2019-12-16 15:00] #1096 closed

[2019-12-20 02:23] ixjlyons commented on #1095
Here's a pure-Qt example that demonstrates the same problem:

[code]

Given that, I'm thinking there may be a better approach to combining the items or possibly a bug in Qt.

[2019-12-20 08:06] jkotan opened #1099 "makeARGB does not work with float RGB images anymore"
### Short description

After #406, which introduces nice floating-point masking, `ImageItem.paint()` crashes with  float RGB images. I fixes it by PR #1098

### Code to reproduce

[code]

### Expected behavior

for float RGB images  makeARGB does not create mask or creates it according to NAN values.

### Real behavior
`ImageItem.paint()` crashes with  float RGB images

[code]

### Tested environm

[2019-12-20 09:16] neumann-nico commented on #1095
@ixjlyons

Thanks for your answer. I tried your code with PySide2 and got the same behavior.
I created a bug report at Qt.

This also happens when I don't combine them and just visualize them individually after converting to shape:

[code]

[2019-12-20 16:17] j9ac9k commented on #1095
For the purposes of tracking, I'm going to link to the bug report: https://bugreports.qt.io/projects/QTBUG/issues/QTBUG-80937

Thanks @neumann-nico for making the bug report upstream

[2019-12-22 11:21] LocutusOfBorg opened #1100 "widgets not automatically installed?"
Some files, e.g. widgets are not automatically installed in some configurations, not sure why and how to debug it

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=939571

right now we hardcoded the file list instead of relying on the helper, we don't know if this is a python bug or something related to pyqtgraph...

Can you please help?

[2019-12-22 11:38] LocutusOfBorg commented on #1100
this might work on the latest 0.11.0-rc0, so feel free to close it if it doesn't ring any bell

[2019-12-23 08:50] #1100 closed

[2019-12-25 02:48] ixjlyons opened #1102 "pyqtgraph.Qt.loadUiType broken for PySide2 >= 5.14"
https://dev.azure.com/pyqtgraph/pyqtgraph/_build/results?buildId=557&view=logs&j=1d023af0-a188-58ef-16b4-2e987dd32dd1&t=addebc46-66b7-583c-f559-d6f453020f3e&l=308

There's a note here, though I'm not sure what it means precisely: https://wiki.qt.io/Qt_for_Python_Development_Notes#24._October_2019

Location of the issue for reference: https://github.com/pyqtgraph/pyqtgraph/blob/6e9a48558c010803883f

[2019-12-25 04:21] j9ac9k commented on #1102
I'll take a look later this evening to see what the qtpy library does.

[2019-12-26 04:04] j9ac9k commented on #1102
Here is the relevant bit on qtpy's repo:

https://github.com/spyder-ide/qtpy/blob/d53db43e11200ee9324f399504c8a97d2432658c/qtpy/uic.py

I've been wondering if we should consider migrating qtpy as a dependency (and migrate some of the specific Qt.py content to pyqtgraph into the the qtpy library.

[2019-12-27 20:45] mokulus opened #1103 "Using setAspectLocked breaks linked views"
### Short description

Using `setAspectLocked()` on `PlotItem`s results in jittery display behavior.

### Code to reproduce

<details>
<summary>Change the following in `linkedViews.py` example:</summary>

[code]

</details>

<details>
<summary>Full changed source</summary>

[code]

</details>

### Expected behavior

Plot should not jitter.

### Real behavior

Plot jitters
https://imgur.com/9vvNSjL

[2019-12-30 00:41] ksunden commented on #1100
This was a bug with the Debian packages, specifically (somehow was missing the last item in an alphabetic list), It was fixed with debian package 0.10.0-5 (Debian unstable has since been updated to the release candidate).

[2019-12-30 18:26] j9ac9k commented on #1100
@ksunden are the debian packages a popular method of distributing pyqtgraph?  Most people I know interact with it via the wheel hosted on PyPI.

The reason I'm asking is that in the version following 0.11; we will be implementing NEP-29, which will limit the python and numpy backward compatibility support.  Along the same lines, we will be limiting the versions we support/test for Qt bindings.  I

[2019-12-30 20:53] ksunden commented on #1100
@j9ac9k Note this is the debian sid/unstable (looks like testing/bullseye as well) that I'm referring to, where 5.12 is the current libqt5.

I'm not sure how common it is, I'd guess less common for devs, but if there are apps which rely on pyqtgraph (gnuradio is one) then the debian package `python3-pyqtgraph` is a dependency, which will be pulled in by apt installing.

In my opinion, devs should

[2019-12-30 21:05] j9ac9k commented on #1100
if the current `libqt5` is 5.12, we're all good 👍

@georgesk As we're changing up the backward compatibility model of pyqtgraph, I do not want to break the package for existing users (or at least try to minimize the hurt), users of `python3-pyqtgraph` are largely unknown to us; so we'd like to hear from you regarding what your needs are.  If you're good with `pyqtgraph` supporting python 3.6+, Qt

[2019-12-30 21:34] LocutusOfBorg commented on #1100
I think on Debian side we are good for numpy, qt and python.
@ksunden I'm the person who uploaded that version in Debian, but that version was an hacky workaround, this is why I reported it upstream
[code]
not sure why it works now.

[2020-01-02 00:54] ntjess opened #1104 "Enhancement: Allow multiple non-contiguous plot regions in same plot item"
Currently, pyqtgraph performs poorly when rendering >500 separate plot items on the same widget. However, if all vertices are consolidated and rendered in the same plot item, performance is more than suitable.

Is it possible to implement a solution similar to Matlab, where `nan` entries indicate a new, separate region within the same plot item?

Matlab:
[code]
![image](https://user-images.githubu

[2020-01-02 01:01] ntjess commented on #1104
Nevermind, I see this is possible by setting `connect=finite` in the plot options.

[2020-01-02 01:01] #1104 closed

[2020-01-02 22:49] #1094 closed

[2020-01-04 18:14] matheusfillipe opened #1105 "Missing triangels when looking from certain angles with GLViewWidget on huge meshes"
### Short description

I am trying to created a very basic Terrain 3D viewer for a highway designer I'm developing. Each mesh is Huge having like 20km where meters is the unity of the verteces. Problem is when the viewer loads looking for certain angles results in a canceling/clipping faces effect for the triangular mesh.

The mesh im loading in is:

[HighwayTerrainMesh.zip](https://github.com/pyq

[2020-01-04 19:09] ntjess opened #1106 "TableWidget throws error on calling save"
### Short description

This is a pretty simple issue. When selecting data in a `TableWidget` and choosing 'Save', the following error appears:

`TypeError: expected str, bytes or os.PathLike object, not tuple`

This is because the filename is retrieved from QFileDialog.getSaveFileName, which returns a tuple instead of only a filename.

### Code to reproduce
[code]
Right-click the table area and se

[2020-01-04 22:34] ixjlyons commented on #1106
Duplicate of #714 (resolved by #715). This will be fixed in the upcoming release. Thanks for the detailed report.

[2020-01-04 22:34] #1106 closed

[2020-01-06 11:20] highfestiva commented on #1057
@Fantasticer How are things coming along? I'm short on time or I would try to help.

[2020-01-06 20:48] half-adder opened #1107 "development version on conda"
### Short description
I am using conda to manage the dependencies for my project, but require features from the develop branch of this project. Is it possible to have a development version on conda-forge or something? Sorry I'm not super familiar with packaging and how hard this would be.

Thanks!

[2020-01-06 21:12] j9ac9k commented on #1107
Hi @half-adder  I'm not sure what all is entailed in getting the package on conda-forge, but I see little benefit at this point, as to install a Qt of 5.12+ (which is what we recommend) you have to use `pip` as it stands as `conda` does not distribute newer versions of Qt for reasons that are complex.

Can you elaborate on how having pyqtgraph installable via conda be beneficial for you?

[2020-01-06 21:25] half-adder commented on #1107
Thanks for the quick response. I'm developing a scientific application for members of my lab who are not technically literate.

To that end, I had hoped to distribute a single conda environment specification file which they can use. Right now I have docs that instruct installing packages with conda, then pyqtgraph-develop with pip. Every extra step is something that might go wrong with people who

[2020-01-06 21:47] j9ac9k commented on #1107
I too have end users of various technical abilities and can completely appreciate the desire to remove any unnecessary steps from a setup process.

You'll be happy to know we have v0.11-rc0 on pypi (which has the fix you referenced), so you should be able to specify that version explicitly in your `environment.yml` file:

https://pypi.org/project/pyqtgraph/#history

[2020-01-06 21:49] ksunden commented on #1107
It's not that hard to get a package on conda-forge, I maintain a few of my other packages on there (though I was not the one to originally submit them).

Mixing conda and pip can lead to unintended side effects (mostly by trying to re-install dependencies), though it _can_ work, it is not generally recommended (that said, I've certainly found myself doing it).
I only personally use conda on Window

[2020-01-06 21:58] ksunden commented on #1107
I looked again, and there already is a feedstock for conda-forge, submitted a PR to provide 0.11.0rc0, though I do not have merge rights on the feedstock, so dependent on one of the current maintainers

[2020-01-06 22:09] j9ac9k commented on #1107
Also looks like `environment.yml` supports pip installed packages from github:  https://berkeley-stat159-f17.github.io/stat159-f17/lectures/06-conda-pip-environments..html

[code]

you can likely put under the `pip` section

[code]

or

[code]

[2020-01-06 23:36] half-adder commented on #1107
This is all very helpful. Thank you!

[2020-01-06 23:36] #1107 closed

[2020-01-06 23:36] j9ac9k commented on #1107
@ksunden you're going to have to mix conda and pip sooner or later if you're using pyqtgraph and use conda at any other point; as conda won't be distributing qt 5.12+ versions of pyqt for some time ... which means you'll have to get them via pip...

[2020-01-06 23:41] ksunden commented on #1107
@j9ac9k https://anaconda.org/conda-forge/qt

Conda forge has Qt (and pyqt) 5.12, may not be in the default repo, but conda forge is very commonly added

[2020-01-06 23:49] j9ac9k commented on #1107
huh! that's new!  Last I was reading they needed to compile Qt from source with some older compiler that Qt didn't support...didn't look like it was going to get solved anytime soon...

[2020-01-07 02:59] ksunden commented on #1107
Conda forge may have/allow a newer compiler than anaconda/main (the default repo)

[2020-01-07 07:55] marcelotrevisani commented on #1107
conda-forge has ``qt`` ``5.12.5`` , so that is completely fine
and pyqt is using that ``qt`` on ``conda-forge`` channel

[2020-01-07 13:18] Fantasticer commented on #1057
i think is just a bug in pyqt.Install the PyQt5 5.13.0  version is okay for nan

[2020-01-07 18:43] p5-vbnekit opened #1108 "Incompatibility with Python 3.8"
### Short description
Failed to import `pyqtgraph`, because `time.clock()` function was deprecated and removed in python 3.8.1

### Code to reproduce
[code]

### Expected behavior
correct importing

### Real behavior
Exception
[code]

### Additional context
I found solution on conda stream: https://github.com/conda-forge/pyqtgraph-feedstock/pull/12
Please apply this patch: https://github.com/conda

[2020-01-07 18:52] ksunden commented on #1108
This has already been fixed in the current `develop` branch (and the 0.11.0rc0 release)

[2020-01-07 18:52] #1108 closed

[2020-01-08 18:36] ksunden commented on #1107
@half-adder `pyqtgraph` `0.11.0rc0` has been released on `conda-forge`

As it is a pre release build, I believe you have to specify the version number, as it will default to the latest stable release.

[code]

[2020-01-08 20:28] jkotan opened #1109 "nextafter fails in makeARGB() when maxVal=0"
After #955  makeARGB() fails when maxVal=0

### Short description

### Code to reproduce

[code]

### Expected behavior

no error
### Real behavior

I get the following error:
[code]

### Tested environment(s)

 * PyQtGraph version: develop branch
 * Qt Python binding: 5.7
 * Python version:  2.7
 * NumPy version: 1:1.12.1
 * Operating system: debian
 * Installation method: packages, git

### Addi

[2020-01-08 21:56] j9ac9k commented on #1107
@ksunden did you do the release? if so, thank you!!!! if not, and you know who did, pass along my thanks (or link me to the PR, and I'll comment there myself)

[2020-01-08 22:56] ksunden commented on #1107
I did make the PR https://github.com/conda-forge/pyqtgraph-feedstock/pull/13
@marcelotrevisani Merged it.

I am now on the maintainers list for the feedstock, and can do future releases as we push them to PyPI (there is also a bot that does automatic updates to packages, which just require pressing the big green merge button most of the time, but does not automatically do pre-release, it seems)

[2020-01-12 23:18] ntjess opened #1115 "Suggestion: Export TableWidgetItem along with TableWidget"
pg's `TableWidget` is great for my use case. However, it would be nice to override some default behaviors of the `TableWidgetItem`, such as minor characteristics during the `edit` role. This is difficult as-is, since `TableWidgetItem` is not exported and therefore can't be subclassed.

[2020-01-16 12:21] avasygn opened #1116 "Suggestion: spinbox with hexadecimal support"
Hello,

I have modified pyqtgraph/widgets/spinbox.py in order to show an unsigned 32bits integer in hexadecimal. Actually, I modified parameterType.py as well to be able to create a hex parameter and display it into a parameterTree as it is shown on the picture below:

![image](https://user-images.githubusercontent.com/54584912/72524457-47285f00-3862-11ea-8b13-0435f219a7d7.png)

Now, I would like

[2020-01-17 17:25] jotaf98 opened #1118 "[Suggestion] Add hoverEvent to PlotDataItem"
As explained in [HoverEvent](http://www.pyqtgraph.org/documentation/graphicsscene/hoverevent.html) and [GraphicsScene](http://www.pyqtgraph.org/documentation/graphicsscene/graphicsscene.html), PyQtGraph has an improved event handler for hover/click effects.

However, this doesn't seem to extend to basic objects inside scenes such as PlotDataItem. This means that, in order to implement something li

[2020-01-21 13:30] chjaeggi commented on #1057
Any progress on this? Tested and observed on ubuntu 18.04 as well. It is OK for us to go back to 5.13.0 for now.

[2020-01-21 14:53] j9ac9k commented on #1057
@highfestiva I think this is an upstream issue, afaik there is no pyqtgraph Dev effort going toward this issue for the time being.  I would love to know if the issue persists with 5.14.

[2020-01-21 15:09] chjaeggi commented on #1057
For me it persists with PySide2==5.14.0. With the pyqtgraph PR branch https://github.com/pyqtgraph/pyqtgraph/pull/1058 (with failing tests) AND PySide2==5.14.0, however, everything works fine (except there is a lot of debug output about ignored exceptions).

[2020-01-21 20:09] j9ac9k commented on #1057
Current tests are failing on 5.14.0 due to the changing of how PySide loads in .ui files, which is what our examples app uses (we use the examples app as part of the test suite).

[2020-01-22 08:31] Dschoni opened #1119 "Pyqtgraph widgets are unresponsive in Spyder"
### Short description
On a freshly installed anaconda with Spyder and pyqtgraph, plots open and become unresponsive.

### Code to reproduce

[code]

### Expected behavior
An ImageView should open, showing a diagonal matrix.

### Real behavior
A window opens and becomes unresponsive.

### Tested environment(s)

# Name                    Version                   Build  Channel
alabaster

[2020-01-22 08:40] Dschoni commented on #1119
See my comment for a possible workaround. https://github.com/spyder-ide/spyder/issues/5409#issuecomment-577068840

[2020-01-22 08:40] #1119 closed

[2020-01-24 12:56] 2xB commented on #1057
@j9ac9k For me, the example from the **Code to reproduce** section above still fails. I think this issue exists since `Qt 5.13.1` - @Fantasticer, your solution of "updating to `Qt 5.13.0`" might actually work because you are using a version older than `Qt 5.13.1`. Could you test whether updating to a higher version for PyQt5 and Qt still works for you?

### Tested environment:

 * PyQtGraph versio

[2020-01-26 14:40] sem-geologist commented on #288
hmm.. I  think the ROI is generally broken when used with `pg.setConfigOptions(imageAxisOrder='row-major')`. Without that option everything works OK, with that ROI (in pg.ImageView) show not correct position as The Image array would have shape if `imageAxisOrder='column-major'). Probably ROI's does are not aware about the global config option and is not taken into account. If You have 2D image usi

[2020-02-04 18:33] StarostinV opened #1122 "Right click on DockLabel and mouse move raises AttributeError: 'DockLabel' object has no attribute 'pressPos'"
### Short description

As title says, a right click on a DockLabel followed by moving a mouse with a right button pressed raises

It only happens if a DockLabel was not clicked before.

### Code to reproduce

[code]

### Expected behavior

I assume, nothing should happen.

### Real behavior

Program crashes with the following:

### Tested environment(s)

 * PyQtGraph version: 0.10.0
 * Qt Python b

[2020-02-04 18:36] StarostinV commented on #1122
### Why it happens

In short, it happens because `DockLabel.mouseMoveEvent` method does not check the condition `ev.button() == QtCore.Qt.LeftButton`

An attribute `DockLabel.pressPos` is initialized in `DockLabel.mousePressEvent` method only if the condition above is satisfied (`ev.button() == QtCore.Qt.LeftButton`). So on a right click this method does not initialize `DockLabel.pressPos`. Hovewe

[2020-02-10 12:37] StSav012 commented on #534
The issue is not fixed in the version available via `pip` (0.10.0). It's more than 3 years since the fix is proposed! Unbelievable!

[2020-02-10 15:13] j9ac9k commented on #534
We have v0.11rc0 available on pypi you can install, which this fix should be part of.

If you would like the stable release to be on pypi, helping address some of the outstanding show stopper issues will speed up the process, thanks!

[2020-02-10 20:11] SpikeHarris opened #1126 "ROIs block clicks to scatter plot points behind them"
### Short description
ROIs block clicks to scatter plot points behind them.

### Code to reproduce
[code]

### Expected behavior
Clicking either of the two scatter points should print `AAAAAAAAAA`.

### Real behavior
Clicking the point behind the ROI prints nothing. Clicking the other point works as intended. Dragging the ROI until the mouse is on top of a point and then clicking also works as int

[2020-02-11 20:49] qiujiangkun commented on #250
I meet this problem too

[2020-02-13 13:08] fabianSorn opened #1127 "Multiple ViewBoxes are not positioned according to its z-values."
### Short description

When trying to plot data against multiple y-axes, I encountered, that setting the z-value of multiple view boxes in a single plot-item is not working as expected. The goal is that the user should be able to arrange the view boxes in the final application as he wants to. This would be useful if f.e. data of one view box is covering another one.

The example code is based on t

[2020-02-13 19:50] j9ac9k commented on #1127
Hi, thanks for creating the issue and putting so much detail here.

Would you mind checking if the issue persists on v0.11rc0? That version is on pypi (or alternatively install from the develop branch directly, there are instructions on how to do that on the readme file).

Thanks!

[2020-02-14 00:05] choogeGL opened #1128 "Bug in TableWidget.py"
### Short description
I believe there is a bug in Line 8 of the widgets/TableWidget.py file where it is currently:

__all__ = ['TableWidget']

when the line should be:
__all__ = ['TableWidget','TableWidgetItem']

### Real behavior

[code]

### Tested environment(s)

 * PyQtGraph version: 0.11.0.dev0+g6a2791e

[2020-02-14 07:33] fabianSorn commented on #1127
Thanks for the quick reply. I tried it with 0.11.0rc0 installed via pypi and I am getting the wrong order as well.

[2020-02-14 08:28] horsto commented on #603
Has anybody experienced problems with that again?
I still run into this error, but maybe I am doing something wrong:
[code]

On closing window:
[code]

[2020-02-14 13:49] ValeKnappich opened #1129 "How to use BarGraphItem in a GraphicsLayout"
I got a GraphicsView with a GraphicsLayout as central item like
[code]
I currently have 2 plots in the layout. To add them to the layout I used ```layout.addPlot()```. Now I want to change one of them to a bar chart.
Apparently the ```layout.addItem``` method does not accept a BarGraphItem since it is not an instance of ```QGraphicsWidget```.

So how can I create a window containing a line graph a

[2020-02-14 15:58] jaxankey opened #1130 "ParameterTree, GroupParameter, saveState() and loadState() do not work / do not exist"
Edited to clarify:

`ParameterTree` does not have a means of saving and restoring the collapsed/expanded state of its items. `GroupParameter` and `SimpleParameters` do have `saveState()` and `restoreState()`, but they do not affect the collapsed state of the tree, despite having these keywords in opts; changing the state of the GUI with my mouse (collapsing / expanding items) also does not change

[2020-02-14 18:35] ixjlyons commented on #603
@horsto are you using pyqtgraph version 0.10.0? My comment above is still accurate -- you could install the 0.11.0 release candidate with `pip install --pre "pyqtgraph>0.10"` and that should resolve the issue. I don't think it's of much practical consequence aside from generating the error message though.

[2020-02-16 08:02] horsto commented on #603
Thanks @ixjlyons! Yes, I was on 0.10.0. I updated to 0.11.0 and that indeed fixed the error.

[2020-02-23 09:39] liangshanbovsluomio commented on #1129
`            self.frame = QFrame(self)
            self.frame.resize(300, 300)
            self.frame.move(10, 200)
            self.frame.setFrameShape(6)
            self.frame.setFrameShadow(QFrame.Plain)
            self.frame.setStyleSheet("background-color:rgb(0,255,255);")
            verticalLayout = QVBoxLayout(self.frame)
            p = pg.plot()
            verticalLayout.addWidget(p)`

[2020-02-24 17:20] ValeKnappich commented on #1129
I don't see how that is supposed to answer the question. My Question is about BarGraphItem ...

[2020-02-28 23:31] j9ac9k commented on #983
if PR #1131 is merged, this issue can be closed out I believe (along with #982)

While testing the new macOS image (10.15) on azure pipelines, I have not run into this issue.

[2020-03-01 15:41] 625781186 opened #1132 "Pyqtgraph `pg.viewbox` renders ` widgets` poorly -- Font blur?"
### Tested environment(s)
- PyQtGraph version: '0.10.0'
- Qt Python binding: 'PyQt5 5.14.1 Qt 5.14.1'
- Python version: 3.6
- Installation method: pip
### Question
[code]
-  If I use `self.win.setCentralWidget(prox)`  , the font is normal , but item can't be move:

![image](https://user-images.githubusercontent.com/30521429/75628635-f607db00-5c15-11ea-89d7-9b08626c4caa.png)

- But if I use `self.w

[2020-03-02 02:38] edgarcamilocamacho opened #1134 "Problem using exporters to png image."
### Short description
Error using exporters to png image.

### Code to reproduce
[code]

### Real behavior

[code]

### Tested environment(s)

 * PyQtGraph version: '0.10.0'
 * Qt Python binding: 'PyQt5 5.14.1 Qt 5.14.1'
 * Python version: 3.6
 * NumPy version: '1.18.1'
 * Operating system: Linux Mint 19.3 - Anaconda 3.7
 * Installation method: pip

### Provisional fix

In file `pyqtgraph/exporter

[2020-03-02 02:40] j9ac9k commented on #1134
Can you replicate if you install v0.11-rc0, which is on pypi (and
conda-forge I believe)?

On Sun, Mar 1, 2020, 6:38 PM Edgar Camilo Camacho <notifications@github.com>
wrote:

[2020-03-02 02:53] edgarcamilocamacho commented on #1134
Hi!, it worked with version v0.11-rc0.
Sorry for the inconvenience

[2020-03-02 03:03] j9ac9k commented on #1134
No problem, we can expect a lot of this due to how long ago 0.10 was
released

On Sun, Mar 1, 2020, 6:53 PM Edgar Camilo Camacho <notifications@github.com>
wrote:

[2020-03-02 03:17] edgarcamilocamacho commented on #1134
v0.11-rc0 should be the default one in pip.

[2020-03-02 04:44] ixjlyons commented on #1132
Notice if you zoom on one axis only (e.g. hold right click and move right) or resize the window, the aspect ratio of the item will change. Setting `lockAspect` for the `ViewBox` might be helpful, e.g. `vb = pg.ViewBox(lockAspect=True)`.

[2020-03-02 05:36] #1132 closed

[2020-03-02 21:44] jaxankey opened #1135 "3d plots not working on Windows 10 Anaconda 3"
Hi all,

I have a fresh install of Miniconda (Anaconda) Python 3.7 on Windows 10, and have run `conda install numpy scipy imageio matplotlib pyqtgraph spyder pyopengl`. If I try to run any of the 3D examples with `import pyqtgraph.examples as e; e.run()`, I get this error from the command line python (Anaconda Prompt):

[code]

Something similar from within spyder. I have also tried uninstalling p

[2020-03-02 22:50] j9ac9k commented on #1135
Hi @jaxankey

Filling out the issue template would go a long way to help.

here is a copy of it for reference, if you could update your initial post with the relevant information, we can see if we can reproduce.

### Short description

### Code to reproduce

[code]

### Expected behavior

### Real behavior

[code]

### Tested environment(s)

 * PyQtGraph version:
 * Qt Python binding:
 * Python ve

[2020-03-03 08:24] hf429 opened #1136 "an issue on ViewBox.mapToView"
Hi, I do love pyqtgraph, it really save my life, but there is a little problem in it.

At first start of pg.GraphicsWindow, it seems that ViewBox return (0, 0) size by ViewBox.rect() method, which lead to ViewBox.updateMatrix get 0 size of bound and so that functions.invertQTransform fail.

one of the ways to work around it is mannually resize the Window by setFixedSize() or adjustSize().

For exa

[2020-03-04 15:02] raacampbell commented on #1057
I am seeing the problem too. PyQt5 v5.14.1   I've been using `connect="finite"` for a while and just noticed after a recent update that my plots are failing to appear. I traced it back to this issue.

[2020-03-04 16:20] j9ac9k commented on #1057
@raacampbell thanks for reporting in; I suspect this is an upstream issue that we won't be able to do anything about, but I'll try and take a look at it and see if something comes up.

[2020-03-06 04:48] Hung-Hsiang-617 opened #1137 "pyqt5 can not use pyqtgraph"
### Short description

### Code to reproduce
import pyqtgraph.examples
pyqtgraph.examples.run()

Traceback (most recent call last):
  File "C:/Users/vision/Desktop/patient/pyqtgraph.py", line 2, in <module>
    import pyqtgraph.examples
  File "C:\Users\vision\Desktop\patient\pyqtgraph.py", line 2, in <module>
    import pyqtgraph.examples
ModuleNotFoundError: No module named 'pyqtgraph.examples';

[2020-03-06 08:02] jensschroer opened #1138 "CSVExport not working with Viewbox"
### Short description
I am setting up a simple example with a plot and a ViewBox. When trying to export to a CSV file (Right click on the window, select Export, select CSV, press Export), the exporter either cannot find a PlotItem for the export or throws an exception that it cannot find any curves.

### Code to reproduce
[code]

### Expected behavior
A CSV file is written with the contents of the

[2020-03-06 18:27] elijose55 commented on #1122
Can I work on this issue?

[2020-03-06 19:28] j9ac9k commented on #967
Fixed with #1131

[2020-03-06 19:28] #967 closed

[2020-03-06 19:29] j9ac9k commented on #1102
After talking w/ @campagnola the two suggested ways to fix this is

* precompile the exampler loader .ui file for pyside2
* raise a useful error message when attemping to use loadUiType on pyside2 5.14+

[2020-03-06 19:42] j9ac9k commented on #1099
I think this may have been fixed as part of #1131 ...will verify

[2020-03-06 20:58] ixjlyons commented on #1137
Try renaming your script to something other than `pyqtgraph.py`. That should fix the problem.

[2020-03-06 21:32] #1109 closed

[2020-03-06 21:52] j9ac9k commented on #1122
@elijose55 by all means please do, I would recommend you first check if this is an issue still with 0.11rc0 (or the current develop branch).

[2020-03-07 17:11] ixjlyons commented on #1138
Indeed, `CSVExporter` is currently only designed to handle `PlotItem` instances which keep track of their plot elements in the `curves` attribute. A neat feature might be to disable the entries in the "export format" list that don't handle exporting the currently selected item. A clean way to do that might be for exporters to declare what types they can export -- it could get a little complex thou

[2020-03-07 17:15] #1134 closed

[2020-03-07 17:16] ixjlyons commented on #1099
#1098 will fix it

[2020-03-07 17:55] ixjlyons commented on #1129
One way to do it would be to add an empty `PlotItem` to the layout then add the `BarGraphItem` to that:

[code]

It's definitely not obvious based on the way things are named. Suggestions for clarifying the docs welcome, though `BarGraphItem` isn't currently in the docs at all (#686) :sweat_smile:

[2020-03-07 18:04] ixjlyons commented on #1128
Duplicate of #1115

[2020-03-07 18:04] #1128 closed

[2020-03-07 18:08] ixjlyons commented on #1115
I don't see a reason it shouldn't available in the `pyqtgraph` namespace. Note that it is possible to import though:

[code]

[2020-03-07 18:24] ixjlyons commented on #1126
I agree this isn't ideal, but I'm not sure what should/could be done about it. I could imagine we could make mouse interaction with the ROI only work when the mouse is near the border of the ROI, but I haven't really thought through how that'd work, especially for other ROI classes.

[2020-03-08 05:16] j9ac9k commented on #1137
I'm going to close out this issue (I've also fallen victim to this) @Hung-Hsiang-617 if you're still having problems after renaming your script, post here and I'll re-open.

[2020-03-08 05:16] #1137 closed

[2020-03-08 17:20] ntjess commented on #1115
You're right. When I used this module, I thought __all__ specified importable objects, not just wildcard imports. I know more now 🙂

[2020-03-10 12:24] NilsNemitz commented on #31
Dear @campagnola
I am a great fan of pyqtgraph!
I use it for monitoring lab equipment. Experiments often alternate between very stable when all is working well, and extremely random when things are less well. So I run into the disappearing curves bug a lot when zooming to the good data.
I like @petermoran's idea of adjusting the data in PlotItem.getData.
In my testing, plots disappear when zoomed

[2020-03-10 17:10] j9ac9k commented on #1075
Hi @zhoubo-lab sorry for the slow response, just realized I didn't reply.

I would suggest creating a new python environment

[code]

From there, install the Qt bindings of your choice as well as the dependencies

[code]

(we have release candidate 0 available on pypi right now, which is what we recommend people install, as 0.11 will be released shortly)

From this point on, you should be able to

[2020-03-10 17:10] #1075 closed

[2020-03-13 03:16] ixjlyons opened #1141 "Artifacts when moving ROI with significant pen width"
### Short description

This issue comes from the mailing list: https://groups.google.com/d/msg/pyqtgraph/tWtjJOQF5x4/CnQF6IgmDAAJ

Dragging around an ROI with a large pen width results in artifacts. For me it only seems to occur after zooming/scaling the viewbox.

### Code to reproduce

[code]

### Expected behavior

Only red in the image should be the square ROI border.

### Real behavior

![Scre

[2020-03-13 13:45] charlotte12l commented on #500
Hi, I'm also doing a 3D image visualization project, which visualizes 3D images in axial, sagittal and coronal view. However, I stuck in how to implement the infinite lines on the three areas on ImageViewer. Do you still have the codes of your project and do you mind sharing it with me?

[2020-03-13 13:46] charlotte12l commented on #500
@gboutet Hi, I'm also doing a 3D image visualization project, which visualizes 3D images in axial, sagittal and coronal view. However, I stuck in how to implement the infinite lines on the three areas on ImageViewer. Do you still have the codes of your project and do you mind sharing it with me?

[2020-03-14 23:22] ixjlyons commented on #1129
Going to close this . Feel free to re-open if you're still having issues with BarGraphItem.

[2020-03-14 23:22] #1129 closed

[2020-03-16 13:18] OverLordGoldDragon opened #1143 "How to lock aspect ratio to 1?"
`setLimits` disables zooming beyond the limits set, and `setAspectLocked` doesn't seem to do anything. How can I fix x & y limits to obey a given aspect ratio (e.g. both -5 to 5 --> 1 ratio), without zoom constraint?

<hr>

**Context**: modified [`p6`](https://github.com/pyqtgraph/pyqtgraph/blob/develop/examples/Plotting.py#L58)

[code]

[2020-03-17 05:55] ixjlyons commented on #1143
I'm not sure exactly what you're after. `setAspectLocked` with a ratio 1 ensures x and y spacing are equal on your screen regardless of zoom or viewbox dimensions. If you resize the window, you should see the grid remain square with `setAspectLocked(True)`.

If you want the X and Y range to be linked so the range is always the same, something like this kinda works, but it's an odd effect:

[code]

[2020-03-17 21:09] OverLordGoldDragon commented on #1143
@ixjlyons That's exactly it, almost; I have to zoom in/out at least once for it to take effect. Can this step be skipped (or automated programmatically)? Also your code's nicer in that Python doesn't crash after closing the window.

<details>
  <summary>Updated animation</summary>

[code]
</details>

[2020-03-17 21:23] ixjlyons commented on #1143
Ahh yep, I should've noticed that. If you move the `p.setXRange(-5, 5)` line after connecting the `sigXRangeChanged` signal, setting the initial range will trigger setting the y range as well.

I'm guessing that was just from having `win.close()` after the `QApplication` exits.

Going to close this as answered. Feel free to re-open or make another issue if you come across other problems.

[2020-03-17 21:23] #1143 closed

[2020-03-17 21:35] OverLordGoldDragon commented on #1143
@ixjlyons Thank you. Also, `win.close()` actually enables 1 rerun before crash - without it, the crash occurs upon the very first closure.

[2020-03-18 02:44] OverLordGoldDragon commented on #1143
@ixjlyons A problem; I'm only able to pan diagonally - [demo](https://puu.sh/FlQxb/fa5335aa29.mp4). Should I open a new issue?

[2020-03-18 03:48] ixjlyons commented on #1143
That's why I mentioned it's sort of an odd effect for an interactive visualization -- it's a consequence of linking the x and y ranges together. Panning is effectively just shifting both the min and max range of an axis. Free 2D panning allows the shift amount (and direction) of each of the axes to be independent, but since the y range is forced to be the same as the x range in this example, you'v

[2020-03-18 04:29] ixjlyons commented on #1095
@j9ac9k that upstream issue seems to have been removed or something. Did you ever get any notifications about it?

[2020-03-18 05:17] j9ac9k commented on #1095
Had a tough time finding it, but was able to access it by this link:

https://bugreports.qt.io/browse/QTBUG-80937?jql=text%20~%20%22QGraphicsEllipseItem%22%20ORDER%20BY%20created%20DESC

Still unresolved, with Priority 3: 'somewhat important'.

Just jira things perhaps?

[2020-03-18 15:34] OverLordGoldDragon commented on #1143
@ixjlyons Er... `setAspectLocked` works perfectly now. Don't know what the problem was before - but your approach does differ from one in my original post from the examples (e.g. it doesn't use `mkQApp`). Anyway, all's good - thanks again.

[2020-03-19 03:14] pijyoi opened #1144 "Plots after event loop has started does not update axes immediately"
### Short description

When plotting data after the event loop has started, the axes are not updated immediately.

Results of git bisection:
d77ad273c71870881c3fda3d2b49d3488f100425 is the first bad commit
commit d77ad273c71870881c3fda3d2b49d3488f100425
Author: 2xB <31772910+2xB@users.noreply.github.com>
Date:   Sat Aug 17 20:52:45 2019 +0200

### Code to reproduce

[code]

### Expected behavior

[2020-03-21 16:30] QZ4869 commented on #1135
Hi @jaxankey

Did you solve your problem, my situation is very similar with yours.

[2020-03-21 17:22] stonebig commented on #1135
it works on Winpython64-3.7.7.0, with Pyqtgraph-0.11.0rc0

[2020-03-21 17:35] ixjlyons commented on #1135
I think the first thing to try is install the 0.11.0 release candidate. `pip install --pre pyqtgraph` (I'd probably uninstall the conda version first if applicable). If that doesn't work, it could be helpful to have the output of `python -m pyqtgraph.opengl.glInfo` for reference (or `import pyqtgraph.opengl.glInfo` if you're already in a Python interpreter).

[2020-03-21 20:57] ksunden commented on #1135
(The rc is also available on conda)

[2020-03-22 03:29] QZ4869 commented on #1135
### Short description
On Windows 10, Something wrong with the OpenGL.
This problem only occur on one of my computers.
### Code to reproduce
In cmd, I type python to get in Python interpreter, then:
[code]
### Expected behavior
A little window open, and nothing else, so I can continue to type something.

### Real behavior
A little window open, but python show error. Following is the whole thing:
[c

[2020-03-22 08:34] QZ4869 commented on #1135
Finally, I just solved my problem:
My GPU is Intel(R) UHD Graphics 620, and I used the drive: Intel(R) Processor Graphics 26.20.100.7528
I change it back to Intel(R) Processor Graphics 26.20.100.6999, then Everything is OK!
(I change it to 26.20.100.7528, and errors come back)

I don't know the deep reason, and what happened exactly, but it may be helpful to who have similar problems and developer

[2020-03-22 10:42] stonebig commented on #1135
there was a bit of reverse Intel Drive problem 2 days ago, where the user had to **upgrade** his intel (win7) driver from 21.20.16.4508 to 21.20.16.5103 ,, to make  Spyder/PyQt5 happy

https://github.com/winpython/winpython/issues/816#issuecomment-601482013

[2020-03-26 04:21] nitrocalcite opened #1146 "Suggestion: Interactive Dock/Node Association"
pyqtgraph's DockArea and Flowchart schemes are great.  For my own use, I've subclassed Dock and Node so that Docks can advertise certain kinds of display services, and Nodes can chose (via the sidebar) a Dock to connect to.  The Dock can accept one or more Node connection.

If this is useful and within scope, I'd be happy to draw up a PR.

This is basically an interactive version of the example gi

[2020-03-28 15:20] neumann-nico commented on #1095
@ixjlyons The last notification I got was in January when the priority level was set.

@j9ac9k thanks for finding the report again. I can still access it with my account. It seems the link structure changed.
This is working fine for me: https://bugreports.qt.io/browse/QTBUG-80937

[2020-03-29 09:00] edmund3333 commented on #788
same thing here.
has anybody found a work around for this issue?

[2020-03-29 09:07] edmund3333 commented on #1130
maybe related to this issue: https://github.com/pyqtgraph/pyqtgraph/issues/788

[2020-03-29 09:11] edmund3333 commented on #788
Tested environment(s)

    PyQtGraph version: 0.11.0.dev0+g556ba55
    Qt Python binding: PySide2 5.14.1
    Python version: 3.7
    NumPy version: 1.18.1
    Operating system: Windows 10
    Installation method: WinPython

[2020-03-30 15:38] j9ac9k commented on #1146
hi @nitrocalcite

I'm always interested in expanding pyqtgraph capability, especially if it's capability users have done themselves.  To be honest, I haven't used the dockarea or flowchart capability ~much~ ever, so I don't quite understand what you're describing.

Would you mind creating a gif demonstrating library capability in comparison to the features you're describing?

[2020-03-31 22:00] nitrocalcite commented on #1146
hi @j9ac9k
I made two rough videos of using the [library feature](https://streamable.com/7oh79) and of using my [proposed feature](https://streamable.com/b6qh7).

Let me know if this makes sense!  Another way of describing it is that I allow nodes to have a real interactive GUI, based on the Dock system.  I subclass Flowchart, DockArea, Node, and Dock for this.

[2020-04-01 16:40] jaxankey opened #1149 "ErrorBarItem does not plot for values smaller than 1e-12"
### Short description
When I try to plot with error bars having values smaller than 1e-12, they do not show up. No error or warning.

### Code to reproduce
[code]

### Expected behavior
We should see 4 bars of diminishing height.

### Real behavior
We see only the first two.

### Tested environment(s)

 * PyQtGraph version: 0.10.0
 * Qt Python binding: PyQt5 5.9.2 Qt 5.9.6
 * Python version: 3.7

[2020-04-01 18:53] ixjlyons commented on #1149
Seems to be on the Qt side -- here's a pure Qt example with the same problem:

[code]

[2020-04-01 18:58] jaxankey commented on #1149
Surprising, because the regular PlotCurveItems do work for small numbers. Can pyqtgraph simply switch the way it draws ErrorBarItems to match the way it draws PlotCurveItems?

[2020-04-02 05:20] ixjlyons commented on #1149
That's a great point. `PlotCurveItem` uses `arrayToQPath` to generate the `QPainterPath` -- I quickly hacked in usage of that function (with `connect='pairs'`) for `ErrorBarItem` instead of `moveTo`/`lineTo` calls and your example now works. It's not immediately obvious to me why that'd be the case, but at least there's a potential workaround.

[2020-04-02 10:09] christuart commented on #808
Yes, there's a pull request open for it #809. I just updated the the flowchart-808 branch on christuart/pyqtgraph to confirm it still merges fine with develop.

[2020-04-02 10:36] Aikhjarto opened #1150 "cannot install pyqtgraph-0.11.0rc0 using pip"
I tryied in install the new 0.11.0rc0 using pip, but get the error below.
[code]

Tested with python 3.8 (compiled from source) and 3.6 (system install) on Ubuntu 18.04.

[2020-04-02 15:17] j9ac9k commented on #1150
No need to install from the repo, the rc release is on pypi, I believe you can run

[code]

[2020-04-02 17:00] jaxankey commented on #1149
Great. Hope this will be in the conda release of v0.11
________________________________
From: Kenneth Lyons <notifications@github.com>
Sent: Thursday, April 2, 2020 1:21 AM
To: pyqtgraph/pyqtgraph <pyqtgraph@noreply.github.com>
Cc: Jack Sankey <jack.sankey@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [pyqtgraph/pyqtgraph] ErrorBarItem does not plot for values smaller than 1e-12 (#11

[2020-04-03 09:22] kangalioo commented on #1081
_Disclaimer: I'm not a developer of pyqtgraph, these are just my thoughts_

I suppose your system has the gbk encoding as its default which probably doesn't support Unicode's non-breaking-space (`\u00A0`)

The relevant lines of code are in pyqtgraph/CSVExporter.py lines 59/60:

[code]

That `open` call doesn't have an explicit encoding parameter, so Python falls back to the system default: gbk. Th

[2020-04-03 17:06] #686 closed

[2020-04-04 18:59] j9ac9k commented on #1150
I'm going to close the issue, but let us know if you have the problem still and if so, I'll re-open.

[2020-04-04 18:59] #1150 closed

[2020-04-05 05:12] ixjlyons commented on #1144
Thanks for reporting. I'm thinking this is something we should fix for next release. @2xB any insight would be appreciated.

[2020-04-05 22:46] ixjlyons commented on #1136
Inserting an `app.processEvents()` after constructing the plot is another workaround. This allows events to propagate before the main event loop is executed, so initial bounding rects propagate and so on and the `ViewBox` can return a non-default size.

[code]

I think the values you get from `viewPixelSize` won't really be useful unless you call `app.processEvents` or wait until the window is act

[2020-04-05 22:55] ixjlyons commented on #1099
#1152

[2020-04-05 22:55] #1099 closed

[2020-04-06 13:42] Aikhjarto commented on #1150
Just for reference: `pip install pyqtgraph==0.11rc0` works fine, thank you.

[2020-04-06 14:57] YuMan-Tam opened #1153 "RemoteGraphicsView -- AttributeError: 'BarGraphItem' object has no attribute 'setGeometry'"
I followed the example in ```RemoteSpeedTest.py``` to do histogram plots. I have to use ```BarGraphItem``` because I would like to plot two histograms with each bar side-by-side (```stepMode``` in ```PlotCurveIem``` can only do one bar). However, I encountered the error ```AttributeError: 'BarGraphItem' object has no attribute 'setGeometry'``` when I execute the following:

[code]

There is no suc

[2020-04-06 15:21] ixjlyons commented on #1153
`RemoteGraphicsView.setCentralItem` appears to expect a `QWidget` (`setGeometry` is a `QWidget` method), but `BarGraphItem` is a `QGraphicsObject`. What you probably want is to add a `PlotItem` to the `RemoteGraphicsView` then add a `BarGraphItem` to that:

[code]

[2020-04-06 15:58] YuMan-Tam commented on #1153
That works! @ixjlyons  Thank you so much for the quick reply.

[2020-04-06 15:58] #1153 closed

[2020-04-07 00:25] ixjlyons commented on #704
Going to close this as resolved. Feel free to re-open or create a new issue if you come across any other problems.

[2020-04-07 00:25] #704 closed

[2020-04-07 09:46] Schneider1 commented on #756
I have the same problem and here's what I see:

- This is independent of 4K resolution, it appears when you have two screens with different scaling (even if the resolution is the same)
- On the main screen, the view is always correct, the problem only occurs on the extended screen
- When you drag the window between the screens, you see that the axis size and labels change as soon as the center of

[2020-04-07 23:11] 2xB opened #1155 "SVGExporter: Pixel images are blurred"
### Short description
In exported SVGs, pixel images are blurred.

### Code to reproduce

[code]

Screenshots are taken in Inkscape.

### Expected behavior
![image](https://user-images.githubusercontent.com/31772910/78727594-5be23380-7935-11ea-8f8a-96abe546e363.png)

### Real behavior
![image](https://user-images.githubusercontent.com/31772910/78727146-2a1c9d00-7934-11ea-94ca-61c42b19fd48.png)

##

[2020-04-07 23:29] 2xB opened #1157 "SVGExporter: Size of exported SVG image canvas is not set"
### Short description
The size of an exported SVG image canvas is not set.

### Code to reproduce

[code]

Screenshots are taken in Inkscape.

### Expected behavior

![image](https://user-images.githubusercontent.com/31772910/78728648-2db22300-7938-11ea-83d6-db13561a48c0.png)

### Real behavior
![image](https://user-images.githubusercontent.com/31772910/78728628-1f640700-7938-11ea-9709-28997a4b7c0

[2020-04-08 15:24] 2xB commented on #1144
@pijyoi Can you please check whether the Pull Request #1159 fixes the issue?

[2020-04-08 15:32] 2xB commented on #808
Great, thank you! Might you add "Fixes #808." to your first comment on #809? That automatically links this issue and the Pull Request.

[2020-04-08 16:13] 2xB opened #1160 "ImageExporter: Labels are at wrong place"
The ImageExporter overlaps labels with axes:
---

[T]his is what it looks like in the app:

![image](https://user-images.githubusercontent.com/646398/64904279-9ecc7900-d67c-11e9-9700-3574d7f35e84.png)

This is what the exported output looks like:

![test-2](https://user-images.githubusercontent.com/646398/64904295-c6234600-d67c-11e9-8d62-d46162283b64.png)

You can generate the results with the fol

[2020-04-09 01:22] pijyoi commented on #1144
@2xB Yes, it fixes the minimal example above as well as a slightly less minimal example. Thank you.

[2020-04-09 09:16] josepNTU opened #1162 "PyQTggraph shows tiny image at the corner and no axes"
### Short description
When I try PyQtGraph, I get a tiny graph at the corner. When I click and move the image, then it scales back up. Also, no histograms and no axes.

### Code to reproduce

[code]

### Expected behavior
it should work bcoz it's your own example

### Real behavior
mentioned above

[code]

### Tested environment(s)

 * PyQtGraph version: pyqtgraph==0.10.0
 * Qt Python binding: PyS

[2020-04-09 14:50] #1144 closed

[2020-04-09 14:52] #1155 closed

[2020-04-09 15:39] ixjlyons commented on #1162
Do you think you could try installing the 0.11.0 release candidate to see if the issue persists?

[code]

A screenshot might also be helpful.

[2020-04-09 18:52] jaxankey commented on #1130
Man. I have been digging through code for hours and cannot seem to figure out how to access the widgets associated with my Parameter objects (to code a solution for myself). I think I'm missing something.

Anyone know how to get basic `collapse()` and `isCollapsed()` functionality starting from a `Parameter` or `ParameterTree` object? Or any other tips for navigating through the tree to accomplish

[2020-04-11 22:29] 2xB opened #1165 "pg.mkQApp generates warning"
### Short description
`pg.mkQApp()` generates warning `QSettings::value: Empty key passed`

### Code to reproduce
[code]

### Expected behavior
No output

### Real behavior

Output to console:
[code]

### Tested environment(s)

 * PyQtGraph version: Latest commit from `develop` ( 6f4048596b080f71eaec544555159cb7c40c075f )
 * Qt Python binding: PyQt5 5.14.1 Qt 5.14.1
 * Python version: 3.8.2
 * Num

[2020-04-11 23:45] 2xB commented on #1136
@hf429 Thank you for the report. The fundamental problem is also reported in the very old issue #8. Could you please check if Pull Request #1167 fixes the issue?

[2020-04-11 23:51] 2xB commented on #1135
@jaxankey Does updating the driver for the GPU used by your Python application also fix your issue?

[2020-04-12 00:01] #1165 closed

[2020-04-12 00:05] 2xB commented on #1130
@jaxankey Don't worry, you do not need to code a solution for this yourself. Probably you are helped with the example file "exampels/parametertree.py"? It shows how to react to changed values, see e.g. the "change" function, how to use saveState and restoreState in the "save" and "restore" functions, and also how to change parameters, as seen in "aChanged" and "bChanged" of the custom "ComplexPara

[2020-04-12 00:50] 2xB commented on #788
Corrected example to reproduce issue (change idx, some parameters should be hidden, but they are not):

[code]

[2020-04-12 00:55] 2xB commented on #788
@WodkaRHR @chester890222 @edmund3333 Could you please check whether Pull Request #1168 fixes that issue?

[2020-04-12 04:15] j9ac9k commented on #1165
whops i didn't mean to close this....

[2020-04-12 15:06] danielhrisca opened #1170 "InfiniteLabel setVisible error"
### Short description
Setting the visibility of a InfiniteLabel to True raises an AttributeError because _updateText_ method is not defined [here](https://github.com/pyqtgraph/pyqtgraph/blob/a2053b13d0234e210561a73fa044625fd972e910/pyqtgraph/graphicsItems/InfiniteLine.py#L554)

### Code to reproduce

[code]

### Expected behavior
no error

### Real behavior

[code]

### Tested environment(s)

 * P

[2020-04-12 15:31] jaxankey commented on #1135
That laptop's at work. I'll let you know when COVID is solved 😉.
________________________________
From: 2xB <notifications@github.com>
Sent: Saturday, April 11, 2020 7:51 PM
To: pyqtgraph/pyqtgraph <pyqtgraph@noreply.github.com>
Cc: Jack Sankey <jack.sankey@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [pyqtgraph/pyqtgraph] 3d plots not working on Windows 10 Anaconda 3 (#1135)

@ja

[2020-04-12 15:50] jaxankey commented on #1130
Ack! Sorry. I edited my original post to clarify the issue:

`saveState()`, `loadState()`, `setOpts` and `opts` seem totally unlinked to the collapsed / expanded state of the tree. I cannot for the life of me find a way to affect this, actually, and have not been able to access the underlying Qt widgets (which do have this functionality.

[2020-04-12 15:58] AlphonsGwatimba commented on #1077
Thanks for this!

[2020-04-12 16:01] christuart commented on #808
Great, thanks for the hint.

[2020-04-12 16:14] stonebig commented on #1077
may we get an 0.11.0rc1 soon ?

[2020-04-12 17:42] j9ac9k commented on #1077
We may do another release, is there a specific fix you need in your library that is not incorporated in rc0?

[2020-04-13 02:39] 2xB commented on #1130
Okay, in that case, might you check if Pull Request #1168 solves the issue?

[2020-04-13 03:28] YuMan-Tam opened #1171 "Legend Fails with BarGraphItem"
The symbol with respect to a ```BarGraphItem``` does not show up in the legend.

The issue can be reproduced using the following code.

[code]
The code produces the following error:

[code]
The error disappear after adding ```antialias = False``` to the ```BarGraphItem``` but this does not fix the issue I raised. I suspect this is related to the open issue https://github.com/pyqtgraph/pyqtgraph/pu

[2020-04-13 18:52] 2xB commented on #1171
@SamSchott You revisited the legend recently, do you have any insight on this, especially on the error?

[2020-04-13 20:12] SamSchott commented on #1171
Most graphics items have an antialias option, such as [PlotCurveItem](https://github.com/pyqtgraph/pyqtgraph/blob/develop/pyqtgraph/graphicsItems/PlotCurveItem.py#L69). Part of the revisited legend included drawing the symbol with antialiasing if this is done for the graphics item itself. However, `BarGraphItem` apparently does not have an antialias option - this was an oversight.

There are three

[2020-04-13 20:29] jaxankey commented on #1130
Does not seem to. Bear in mind I'm running pyqtgraph v0.10.0 and don't want to break my anaconda install. I did manually overwrite the function in my site-packages directory, but the collapsed / expanded behavior seems to be the same.
________________________________
From: 2xB <notifications@github.com>
Sent: Sunday, April 12, 2020 10:39 PM
To: pyqtgraph/pyqtgraph <pyqtgraph@noreply.github.com>
Cc

[2020-04-13 22:56] 2xB commented on #1130
@jaxankey Okay, in that case, two things:

1. Can you provide a full minimal working example of code that on execution should result in a collapsed tree but does not?

2. If you wish to try out the new version without changing anything in Anaconda: You do not need to install other versions of `pyqtgraph` to try them out. Download the source code of the version you want to try - either via Git or v

[2020-04-14 17:17] jaxankey commented on #1130
For #1, I thought I had, but I updated it further to try help clarify (I also had typed `loadState` instead of `restoreState` initially, due to lack of sleep). I will test it on the latest pyqtgraph next.

[2020-04-14 17:25] jaxankey commented on #1130
Same behavior on v0.11.0rc0. You can try the above code on whatever patched version you have, perhaps?

[2020-04-14 18:22] YuMan-Tam commented on #1171
Thank you for your reply. It could be that I did not see the symbol because of the black background color. The pen set and brush were definitely not shown.

I believe the issue is settled for now. Should I close the issue or leave it open for the ```antialias``` bug and/or an feature request for the ```BarGraphitem```?

[2020-04-14 18:53] 2xB commented on #1130
@jaxankey Thank you very much! I've made a Pull Request that should fix the issue.
Could you check whether Pull Request #1175 also fixes that issue for you? With that, your code should also even work without `saveState` and `restoreState`.

[2020-04-14 18:57] 2xB commented on #1171
@YuMan-Tam Since there is a remaining issue here, I would leave it open.

[2020-04-14 19:07] jaxankey commented on #1130
Thanks, I will test this when I get the chance, but it looks like exactly what was missing.

Is there a way to access the ParameterItem associated with a Parameter? If not, one might gain by providing a handle to it (e.g. Parameter.getParameterItem()).

________________________________
From: 2xB <notifications@github.com>
Sent: Tuesday, April 14, 2020 2:53 PM
To: pyqtgraph/pyqtgraph <pyqtgraph@nor

[2020-04-14 19:29] 2xB commented on #1130
`Parameter`s are unaware of their `ParameterItem`s. The former ones are just containers for the data that is to be presented, the latter ones are the ones presenting that data. `ParameterItem`s learn about changes in the data by listening to various signals from `Parameter`. In computer science, this is called Model-View pattern. Whenever the data (the model) changes, the view updates as quick as

[2020-04-14 19:40] 2xB commented on #1130
I've seen the list you made over at the PR of things that are not synchronized between `Parameter`s and `ParameterItem`s, and I totally get why you wanted access to `ParameterItem`s. I'll take a look at that tomorrow or the day after.

[2020-04-14 22:37] JoeZiminski opened #1176 "InfiniteLineItem with two labels - line[0] label does not show"
Attaching a label to each line of a LinearRegionItem, that displays the value of the respective lines, fails on the line[0] when the LinearRegionItem is moved by dragging the region (not the lines).

To reproduce, line 38 of the 'InfiniteLine.py' example can be replaced with:
`label = pg.InfLineLabel(lr.lines[1], "{value:0.2f}", position=0.95, rotateAxis=(1, 0), anchor=(1, 1))
label2 = pg.InfLineL

[2020-04-15 03:10] jaxankey commented on #1130
Naw I don't *need* access, just wanted it so I could hack together my own solution. If the Parameter does everything I'm glad to use it.
________________________________
From: 2xB <notifications@github.com>
Sent: Tuesday, April 14, 2020 3:41 PM
To: pyqtgraph/pyqtgraph <pyqtgraph@noreply.github.com>
Cc: Jack Sankey <jack.sankey@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [pyqtgrap

[2020-04-15 11:38] JoeZiminski commented on #1141
Hi ixjlyons,

I wonder if this is related to this issue: https://github.com/pyqtgraph/pyqtgraph/issues/533 which seems to be a known performance issue with thick line widths in Qt.

A workaround that at least papers over the problem is to edit the ROI to accept the plot as an argument, then force the viewBox to update every time the ROI is moved:

In line 14 of your reproducable example:
[code]

i

[2020-04-16 15:45] elomatt commented on #1000
A workaround which (in my case) was easier than the above was to directly use the setText() method in each of the legend's LabelItems:
[code]

[2020-04-18 19:45] 2xB commented on #1130
Added another option to `Parameter`s over at my PR, you might check out if that suits you.
Btw. it turns out: `Parameter`s do indeed currently have a way to access associated `ParameterItem`s. I don't think this will be actively supported, so its use is really only as a quick workaround: A list of items is currently available as attribute `p1.items`.

[2020-04-20 05:54] josepNTU commented on #1162
that indeed worked! Thanks!

I'm attaching the screenshots of the bug in the 0.10.0 version for your reference.

![after moving](https://user-images.githubusercontent.com/62689146/79718334-637ae280-830e-11ea-8978-9ae838c095b5.png)
![new plot](https://user-images.githubusercontent.com/62689146/79718338-65dd3c80-830e-11ea-94c9-28f48ad769db.png)

[2020-04-20 05:54] #1162 closed

[2020-04-25 11:04] horsto opened #1177 "Unsupported composition mode with useOpenGL"
### Short description
`CompositionMode_Overlay` is not supported when `useOpenGL=True`

### Code to reproduce
[code]
### Expected behavior
Composition mode overlay should be accepted like in non openGL mode

### Real behavior
This runs into warning `Unsupported composition mode` and the composition mode is not applied.

### Tested environment(s)

 * PyQtGraph version: 0.11.0rc0
 * Qt Python bindin

[2020-04-25 16:50] axil commented on #1032
This has been implemented now, see https://github.com/pyqtgraph/pyqtgraph/pull/1154

[2020-04-27 12:03] Neverhorst opened #1178 "TypeError in SignalProxy __init__"
### Short description
Found a small bug in `SignalProxy.__init__()` that occurs when creating an instance of `SignalProxy` without directly handing over a slot to connect to.
The default value for the optional init parameter `slot` is `None` and so you can not create a `weakref` from that.
The culprit is line 38 of _SignalProxy.py_ https://github.com/pyqtgraph/pyqtgraph/blob/develop/pyqtgraph/Sign

[2020-04-27 17:01] j9ac9k commented on #1178
hi @Neverhorst

Thanks for the bug report, I can see that this is still an issue in 0.11rc0.

[2020-04-27 19:49] 2xB opened #1181 "DateAxisItem: More convenient API"
@axil describes the issue in https://github.com/pyqtgraph/pyqtgraph/pull/1154#issuecomment-611742614_:

The notation

    pg.PlotWidget(axisItems = {'bottom': pg.DateAxisItem()})

still looks a bit heavyweight for a task as natural as making x axis accept timestamps. Would it be datetime instances it could be determined through typecheck with no args to PlotWidget at all (the way it is done in mat

[2020-04-27 20:08] j9ac9k commented on #1181
The topic of some major-ish API discussion did come up briefly a few months back on the slack chat.  Where we landed (after, frankly, not a lot of discussion) is that we should consider matching up an API to matplotlib 4.0 (whenever it's released).  There is a dropbox paper to read a little more about their objectives, and a draft PR visible here: https://github.com/matplotlib/matplotlib/pull/1405

[2020-04-27 21:18] 2xB commented on #1032
The corresponding PR #1154 is now merged to `develop` and will be part of the next version, `0.11.0`!

[2020-04-27 21:18] #1032 closed

[2020-04-28 09:36] Alpenbelieve opened #1182 "feature request: radar chart"
Hi, do you have plans to add a new kind of diagram called "radar chart"？

Or is there any suggestions on achieving the effect of radar chart using existing components?

Recently I'm working on making an interactive radar chart with pyqt5 and pyqtgraph in a GUI program, and a possible way I figure out is using polar coordinates, which is mentioned in [#452](https://github.com/pyqtgraph/pyqtgraph/is

[2020-04-28 10:28] Cocco17 commented on #1182
I'm having the same ideas as @Alpenbelieve - would be great to know if it will happen any time soon :)

[2020-04-28 16:21] axil commented on #1181
@j9ac9k Could you invite me to the slack chat?

[2020-04-28 16:23] j9ac9k commented on #1181
sure, can you give me an email to send the invite to?

[2020-04-28 16:28] axil commented on #1181
@j9ac9k lev.maximov@gmail.com

[2020-04-29 07:26] kangalioo opened #1183 "Graph permanently shifts to the right when having long tick strings"
### Short description
A plot with long tick names is squashed horizontally to make room for the tick names. That is good. However, even after changing the plot and the tick names, the plot stays squashed. Is there some way to prevent that from happening?

### Code to reproduce

[code]

### Expected behavior
Optimally I expect the plot to automatically adjust to tick strings whenever they are chang

[2020-04-29 17:56] nitrocalcite commented on #1182
Another immediate approach to consider might be embedding other graphing tools.

`matplotlib` supports radar charts, and can be embedded in `pyqt5` applications using the `Qt5Agg` backend.  In fact, `pyqtgraph` already [provides](http://www.pyqtgraph.org/documentation/widgets/matplotlibwidget.html) such a widget, so implementing it should be relatively straightforward.

Of course, if you need live

[2020-04-30 01:33] Alpenbelieve commented on #1182
@nitrocalcite Thanks very much for your reply ! It's really helpful and I'd have a try.

`QtWebEngineView` is powerful, and it can cooperate with many html-based python visualization tools ( including Plotly, Echarts, Altair, Bokeh ...) to let them work in GUI.

And these days I found another possible method: use Qtchart. It's the official drawing library of QT, and it's component `QPolarChart` ca

[2020-04-30 03:30] j9ac9k commented on #1182
Hi @Alpenbelieve

We have no plans on implementing such a feature, but we would sure work review and test such a feature if someone wanted to submit a PR for one.  We're primarily in bug-hunt/fix mode at this point trying to get 0.11 out the door so there isn't much demand from the maintainers to implement new features for the time being.

As @nitrocalcite suggested, easiest thing to do right now

[2020-04-30 05:26] ibrahimLearning commented on #844
What about in spyder?

[2020-04-30 05:30] Alpenbelieve commented on #1182
@j9ac9k I'm very understanding. Thanks for your response! ^_^

[2020-04-30 05:31] #1182 closed

[2020-04-30 05:35] ibrahimLearning opened #1185 "Application not responding in Spyder?"
When i run the examples in this page"http://www.pyqtgraph.org/documentation/plotting.html":

import pyqtgraph as pg
import numpy as np
x = np.random.normal(size=1000)
y = np.random.normal(size=1000)
pg.plot(x, y, pen=None, symbol='o')

Application not responding!

[2020-04-30 06:09] #1185 closed

[2020-04-30 09:09] Aikhjarto opened #1186 "PolyLineROI context menu displays "Remove ROI" even when ROI is not removable"
### Short description
PolyLineROI context menu displays "Remove ROI" even when ROI is not removable.

### Code to reproduce and Real behavior
[code]
Right click on a handle of the PolyLineROI and see the "ROI->Remove ROI" action, although in the source of the example the PolyLineROI is not set to be removable.
![image](https://user-images.githubusercontent.com/3519989/80692605-16e39400-8ad2-11ea-8

[2020-05-01 01:02] tomer2141 commented on #578
I was able to fix it by adding horizontalSpacing for the LegendItem layout
`GraphicsWidget.__init__(self)
        GraphicsWidgetAnchor.__init__(self)
        self.setFlag(self.ItemIgnoresTransformations)
        self.layout = QtGui.QGraphicsGridLayout()
        self.layout.setHorizontalSpacing(15) # custom space between the legend shape and label
        self.setLayout(self.layout)
        self.it

[2020-05-03 18:30] kangalioo opened #1187 "Columns in a GraphicsLayout have varying, seemingly erratic widths"
### Short description
Columns in a GraphicsLayout have varying, seemingly erratic widths.

### Code to reproduce

[code]

### Expected behavior
I expect the columns to have the same width, or at least have a toggle for that.

### Real behavior
The columns have varying sizes for no apaprent reason.

### Tested environment(s)

 * PyQtGraph version: 0.11.0rc0
 * Qt Python binding: PyQt5 5.14.2 Qt 5.1

[2020-05-06 09:00] erikmansson opened #1189 "Potential issues with GraphicsItem.pixelVectors caching"
I found some potential issues in the caching in GraphicsItem.pixelVectors.

In both the local cache lookup:

https://github.com/pyqtgraph/pyqtgraph/blob/720fa5f3c2e77dd1b5d18af26f65de41188b282e/pyqtgraph/graphicsItems/GraphicsItem.py#L189-L190

and global cache lookup:

https://github.com/pyqtgraph/pyqtgraph/blob/720fa5f3c2e77dd1b5d18af26f65de41188b282e/pyqtgraph/graphicsItems/GraphicsItem.py#L194

[2020-05-08 04:20] nikushin opened #1190 "viewbox background color"
This problem still exists:
https://github.com/pyqtgraph/pyqtgraph/issues/223

"I have almost this exact problem in pyqtgraph: '0.11.0.dev0+g2e69b9c'

After doing 'functionally' the same as OP (extracting the axis and changing their z-values after setting vb background colour) I have a visually good result, but mouse-interaction is borked.. Depending on the sequence of setting the axis z-values I g

[2020-05-08 06:12] MarceloBarrosVanegas opened #1191 "diferrent angles for text in pg.TextItem().setAngle(value) makes pannig and zomming very slow performance"
### Short description

When plotting several texts by pg.TextItem().setAngle(value) with different text angles plot zoom and pan becomes very slow, while  the same amount of text items  with  the same angle for all  texts gets the plot  zoom and pan working in a proper manner.

### Code to reproduce

[code]

### Expected behavior

Zoom and pan functions work and respond in a proper manner.

### Re

[2020-05-08 08:11] josepNTU opened #1192 "PySide/Python2.7 compatibility error: axis item not showing in plotItem"
PyQtGraph not showing the axis lines and grid (but the labels do show). I'm posting a slightly modified version of the PlotItem example from the documentation. The original example didn't work either. I added an axisItem explicitly to check if it would work, but it didn't.

I have run the same code in Spyder (Python 3.7/PyQt5) and there it works great. Unfortunately, I cannot move from Python 2.7

[2020-05-08 15:16] vitsensei opened #1193 "How to plot multiple, discontinuous edges using PlotWidget?"
Hi,
I'm using PlotWidget to draw hundreds of discontinue edges in my Qt application. So far my approach is to create a myplotwidget.plot() and then setData() for each of my edge. It seems like this is an inefficient approach since my computer takes about 10 seconds to plot all those edges.
How should I approach this better? Thank you.

[2020-05-08 15:38] vitsensei commented on #1039
I ran into the same issue, I hope this get improve one day :).

[2020-05-08 16:38] 2xB commented on #1193
You could use one single `PlotDataItem` (make a single call to `.plot()`) and use the `connect` argument of the functions `plot` and `setData` to specify which of the data should be drawn with a line. Also see the documentation of the `connect` argument here: http://www.pyqtgraph.org/documentation/functions.html#pyqtgraph.arrayToQPath
Here is a minimal example using said `connect` argument for you

[2020-05-08 16:40] 2xB commented on #1193
Also, since you only draw edges, maybe the `connect` argument `pairs` would be a way to go. There is more information in the documentation linked above, if that sounds right for you.

[2020-05-08 16:45] 2xB commented on #1193
One last thing: Just for fun I've tested this with 30.000 data points instead of 300, and it still plots all the data points (with correct partly disconnected edges) instantaneously. So there should not be a worry about performance.

[2020-05-09 00:33] timjolson opened #1194 "opengl installation/usage"
### Short description
In trying to install and use pyqtgraph with opengl, I get `ImportError: cannot import name 'QtOpenGL'` .

### Code to reproduce
Using a fresh installation of ubuntu 18.04.4 64bit with gnome 3.28.2
Using various installation methods and combinations (apt and pip3), and in various orders.
See a spreadsheet of the tested combinations and results [here](https://github.com/timjols

[2020-05-09 00:50] vitsensei commented on #1193
Your enthusiast really touch me at 2am in the morning. I quickly wrote down what I wanted to say on a piece of paper and a note to myself reminding me to test your snippet of code first thing after breakfast.

It works really really well, thank you! I did a bit of looking around right after this post and found someone with the same problem: https://github.com/pyqtgraph/pyqtgraph/issues/1039#issue-

[2020-05-09 02:31] j9ac9k commented on #1194
for openGL functionality, you need to install the pyopengl library (`pip install pyopengl`).

I would also recommend installing pyqtgraph 0.11rc0, countless bug-fixes and performance improvements have gone been made since 0.10.0, we're still not at the point of doing a stable release yet though.  You can install 0.11rc0 by running `pip install pyqtgraph==0.11rc0`

[2020-05-09 13:36] kangalioo commented on #1187
An example of how it looks in a real-world application. Utterly squashes to the right side, which makes it very uncomfortable to look at and navigate in.
![Screenshot_20200509_153541](https://user-images.githubusercontent.com/21220820/81475167-c0c9cb80-920a-11ea-8754-c379977f09b8.png)
This is quite a serious problem imo

[2020-05-09 14:05] 2xB commented on #1039
For issue #1193, I made a demonstration of how to use the `connect` keyword in functions `plot` and `setData` to plot and update multiple lines with a single call to one of those functions. This lets you instantly plot large amounts of lines. See the issue for a minimal working example.

Since this library is about performance, maybe we should expose this more prominently in the documentation and

[2020-05-09 14:12] 2xB commented on #1193
Thank you for the kind words and the hint to issue #1039! I've added a comment according to your hint. The feature is quite old, but not that visible.

It looks like this issue is solved - if there is anything to add or you have anything else, feel free to add a comment here or to create a new issue!

[2020-05-09 14:12] #1193 closed

[2020-05-09 15:06] 2xB commented on #1190
As far as I know, there is no need to change the z order after changing the background. Please test this:
[code]

For possible actions arising from this issue, I honestly don't think there is a reason to use `ViewBox.setBackgroundColor` currently. Maybe that function should be marked deprecated and `setBackground` should have a more prominent appearance in documentation.

@nikushin @jorgeja Could

[2020-05-09 16:00] hzyrc6011 opened #1195 "flowchart Error "Cyclic dependency detected""
I tried to make a control system simulation with pg flowchart. However it comes out with this error. Control systems need feedbacks,which is necessary.
Maybe there's error in my  code. How can I avoid this error? Thanks!

[2020-05-09 17:04] 2xB commented on #1195
Can you share a minimal working example that leads to this error? For example you could copy your current code and successively delete as much as possible until you are left with a few lines of code that reproduce the error.

Also, it would be great if you would fill out the default issue template (the template you see when clicking on "New issue" and then on "Get started"), as that massively help

[2020-05-09 17:08] j9ac9k commented on #1195
Hi,

I'm sorry but there is not enough information for us to attempt to reproduce the error.  Please follow the template for new issues as it helps us better identify potential issues.

[2020-05-09 17:11] #1195 closed

[2020-05-09 20:07] timjolson commented on #1194
I reinstalled from fresh with `pip3 install pyqt5==5.9 pyopengl pyqtgraph==0.11rc0`. GL examples work now, thanks!

My other issue that I linked to is not resolved, but is no longer applicable.

[2020-05-09 20:07] #1194 closed

[2020-05-09 21:01] 2xB commented on #1192
I was so bold to add code fences to your code so it is formatted correctly (by adding
` ```python3 ` before and  ` ``` ` after the code).

[2020-05-10 02:19] hzyrc6011 opened #1196 "Unable to save flowchart in flowchart GUI"
### Short description

When clicking the "save" button to save flowcharts, It throws an exception,like this.
[code]
and the GUI collapse unexpectedly.

### Code to reproduce

The code is right the example of "flowchart" in pyqtgraph.examples.

[code]

### Expected behavior

save the ".fc" file
### Real behavior

[code]

### Tested environment(s)

 * PyQtGraph version: '0.10.0'
 * Qt Python binding

[2020-05-10 04:28] ixjlyons commented on #1196
Thanks for the detailed report. This is a duplicate of #512 and was fixed with #886. You can get the 0.11.0 release candidate with `pip install pyqtgraph==0.11.0rc0`. You could also install the latest with `pip install git+https://github.com/pyqtgraph/pyqtgraph@develop`.

[2020-05-10 04:28] #1196 closed

[2020-05-10 04:58] ixjlyons commented on #1195
The `flowchart` module only supports acyclic (feedforward) networks. The documentation mentions this limitation: https://pyqtgraph.readthedocs.io/en/latest/flowchart/index.html

You can always implement feedback programmatically. Say you have nodes A, B, and C and you want a feedback connection from C back to B:

[code]

In C's `process` method, you can directly set an attribute (or call some call

[2020-05-10 06:07] ixjlyons commented on #1186
Good catch, thanks for reporting. #1197 will fix this.

[2020-05-10 15:17] ixjlyons commented on #1191
I'm not actually seeing much if any difference between `text.setAngle(k)` and `text.setAngle(45)`. I'm also not seeing in the code how there'd be a slowdown for text items with different angles, which makes me think it could be something in Qt itself (though I tried with Qt 5.14.1 and 4.8.7). Could you fill in the environment portion of the issue template?

[code]

(add in a new comment or edit th

[2020-05-10 15:39] #1186 closed

[2020-05-10 15:54] j9ac9k commented on #1192
Oof, we should definitely aim to tackle this before 0.11 release.

[2020-05-10 16:15] MarceloBarrosVanegas commented on #1191
Hi, tanks for the comeback, my settings are as follows,
 * PyQtGraph version:
0.10.0
 * Qt Python binding:
PyQt5 5.14.2 Qt 5.14.2
 * Python version: Python 3.7.6
 * NumPy version:
1.18.1
 * Operating system:  Windows
 * Installation method:
pip install, but i ran it from a anaconda environment in pycharm

I will update to 0.11.0  and downgrade pyqt5 , also try out 0rc0 branch., what pyqtgraph vers

[2020-05-10 17:52] MarceloBarrosVanegas commented on #1191
This is my actual result,
![image](https://user-images.githubusercontent.com/61324580/81506541-abad7500-92bc-11ea-961d-c51d6ea77ecb.png)

first example assigns a different angle value to every text (~50 texts), this causes a very slow zoom and pan, the other example is the setAngle line commented out, here is has the same amount of text item but work a lot faster.

[2020-05-10 19:22] j9ac9k commented on #1191
Would you mind trying this on our RC build? You can install it via pip
install pyqtgraph==0.11rc0

We've had countless bug fixes and performance improvements since 0.10

On Sun, May 10, 2020, 10:52 AM MarceloBarrosVanegas <
notifications@github.com> wrote:

[2020-05-10 20:24] MarceloBarrosVanegas commented on #1191
my last example was performed with this setting

pyqtgraph -- 0.11.0rc0
PyQt5 -- 5.14.2
Qt -- 5.14.2
Python --  3.7.6
numpy--1.18.1

The problem still persists, perhaps it is something in the code itself or how I add the lines and text to the plot.

the important parts are:

[code]

Migth it be the pg.PlotWidget usage in here?
or the fact that I dont .addPlot()?

thanks for the help,
Marcelo.

[2020-05-10 20:47] janto commented on #1020
I am interested in speeding up the use case where both the colors and size changes. So I'm wondering if it is viable for the atlas to be used when pxMode=False? Zooming in and out seems to happen at discrete steps in my application (mousewheel steps), so it wouldn't be an infinite amount that needs caching.

Looking at the code I see that `key = id(symbol), size, id(pen), id(brush)` is used togeth

[2020-05-10 22:43] 2xB commented on #1020
The last contributions to `SymbolAtlas` were done by @termim and - quite recently - @danielhrisca. Maybe one of them has insights?

[2020-05-10 23:45] j9ac9k commented on #1191
I had some performance issues with adding large numbers of pg.textItems to
a viewbox on a personal project.  I implemented an `addItems` method where
I was able to pass a list of objects at once which performed much better.
If you think this might be what you're dealing with I'll share my
workaround.  I was planning on making a PR to add that functionality at one
point.

On Sun, May 10, 2020, 1:24

[2020-05-11 00:03] MarceloBarrosVanegas commented on #1191
Thank you, I would really appreciate any help on this matter. my email : cheloba1@gmail.com, I would gladly post any good outcome if I have one.

greetings, Marcelo.

[2020-05-11 00:40] danielhrisca commented on #1020
@LucaMarconato can you try with the latest develop code to see if it is better?

It would have just been used as a human readable way to access the np.recarray fields. This is in fact slower than index access

[2020-05-11 04:18] j9ac9k commented on #1191
It's not a lot of code, would rather post it here.  I actually didn't create a new method; but I was considering doing so.  Keep in mind this code was only tested on my application, I bypass some code which at a glance looked to be Qt4 compatibility related code, so I make no guarantees.

The code basically goes like this.  I generate a list of TextItems, and I effectively add them to the viewbox

[2020-05-11 07:03] danielhrisca commented on #1020
Hello all,

I've made a new PR that improves the execution time a bit #1198

One aspect that could be improved is the case were the initial spots are computed when a ScatterPlotItem is first created. In this case we only need to create a QRectF and populate the 'sourceRect' field with it in the updateSpots method

[2020-05-11 08:04] josepNTU commented on #1192
thanks guys :)

[2020-05-11 17:04] nikushin commented on #1190
It's does not work for PlotWidget

This works, but color changes the whole widget. Only needed directly on the plot

[2020-05-11 17:33] 2xB commented on #1190
@nikushin Just to get you right: Is this a solution that works for you or do you have an application for only changing the `ViewBox` background color?

[2020-05-11 18:53] MarceloBarrosVanegas commented on #1191
Thank you for the help, Marcelo.

[2020-05-11 20:06] LucaMarconato commented on #1020
Hi @danielhrisca, thank you a lot for your contribution. I have just tested your code [on this example](https://github.com/LucaMarconato/dynamic_scatter_plot). With your code points are not being drawn on my machine (latest macOS), while with the latest pyqtgraph I see them. So I can't tell if I see a performance enhancement. Maybe you can also use the code I linked to compare the performance betw

[2020-05-12 07:08] nikushin commented on #1190
I have not found a solution at this time. I use the background image as a separate object.

[2020-05-12 19:23] danielhrisca commented on #1020
For some reason the point colors are all set to black.

[2020-05-17 21:03] ntjess opened #1200 "Some widget sizes (e.g. combo box) are not good on high dpi displays"
### Short description

### Code to reproduce

Parameter Tree pyqtgraph exaple:
![image](https://user-images.githubusercontent.com/23620506/82159964-ffd9cb80-985f-11ea-9e34-7cd839a52338.png)

### Expected behavior
The whole number should be displayed

### Real behavior
The top and bottom of the list parameter is truncated during editing

### Tested environment(s)

 * PyQtGraph version: '0.11.0.dev0

[2020-05-17 22:02] j9ac9k commented on #1200
HiDPI scaling issues with Qt on Windows have been a constant thorn in my side and I have yet to find a good fix that can be applied across the board.

There was some work in #1154 to attempt to address HiDPI sizing issues for the text in DateAxisItem, but I'm not sure how much that method could be applied across the board.

Tagging @2xB as they reviewed PR #1154 and tested some of the fixes.

[2020-05-18 00:24] ntjess commented on #925
Is this truly fixed? I get the same warning in pyqtgraph 0.11.0.dev0+g720fa5f when running unit tests:

![image](https://user-images.githubusercontent.com/23620506/82163998-51904f00-987c-11ea-800a-68b2c95ce2d1.png)

Oddly enough, I only see this printout if I set a breakpoint in my test case.

[2020-05-18 04:50] ixjlyons commented on #925
@ntjess could you paste the contents of the file at `C:\ProgramData\Anaconda3\envs\cdef\lib\site-packages\pyqtgraph\ptime.py`?

[2020-05-18 13:29] ntjess commented on #731
For what it's worth, I did not have this issue in pyqtgraph 0.10.0, but it appeared for me on the 'develop' branch install.

[2020-05-18 17:18] ntjess commented on #925
[code]

[2020-05-18 17:32] ntjess commented on #925
I see the problem now. Somehow there were two separate versions of pyqtgraph in my environment and I obtained the __version__ printout from the wrong instance.

After correcting this issue it was no longer a problem.

[2020-05-18 20:46] iverdr17 opened #1202 "Real time analysis of glscatterplotItem"
Hi I am trying to plot a graph with 3d coordinates which are lively updated each time. I want to see the points move in real time in the plot. Can I know how to achive this goal.
for instance I wrote a code which generates new points every 50ms but the points doesnt get updated then and there in the graph. Once the code is shut down the plot comes on with only the first point in display.

from pyq

[2020-05-18 20:59] #1202 closed

[2020-05-19 00:48] ixjlyons commented on #916
`GraphicsWindow` is now included in the API reference: https://pyqtgraph.readthedocs.io/en/latest/graphicswindow.html

Although the arguments are still not documented, the class is deprecated and there's a notice to use `GraphicsLayoutWidget` instead. Its arguments *are* documented: https://pyqtgraph.readthedocs.io/en/latest/widgets/graphicslayoutwidget.html

[2020-05-19 00:48] #916 closed

[2020-05-19 00:53] ixjlyons commented on #745
Docs are now built with readthedocs. [latest](https://pyqtgraph.readthedocs.io/en/latest/) will be up to date with the `develop` branch and we will have separate versions for releases, starting with 0.11.0.

[2020-05-19 00:53] #745 closed

[2020-05-19 01:04] 2xB commented on #1200
What we did there was using `QPainter.fontMetric().boundingRect(text)` to get the DPI-aware size of a given string, and used `QPainter.device().logicalDpiX()` to get the DPI of the currently visible device. I do not know how well those methods translate here.

[2020-05-19 01:48] ixjlyons commented on #731
Bisect uncovered this as the first bad commit: https://github.com/pyqtgraph/pyqtgraph/pull/518/commits/3fbc3864f2611d385bd88d4f2becf94a9a6f3722. I need to work on understanding the ParameterTree system a little better, but there's a start.

[2020-05-20 02:29] vitsensei opened #1204 "Will there be a new release soon?"
Hi,
I just found out that the version of pyqtgraph I installed (0.9.0 I believe) is a few years old and I have been missing out some new features and bug fixes. I only knew about this because I tried to clear the content of the legend and encounter the error that my LegendItem does not have attribute clear(), which it does in the documentation. Weird.

Anyways, I installed the development branch a

[2020-05-20 04:34] ksunden commented on #1204
We released a release candidate of 0.11.0rc0 a little while back, and that is available on both [pypi](https://pypi.org/project/pyqtgraph/0.11.0rc0/) and [conda-forge](https://anaconda.org/conda-forge/pyqtgraph/files)

We are tracking down the last few known regressions before finalizing the 0.11.0 release.

[2020-05-22 13:54] vitsensei commented on #1204
Huh, I downloaded from pip recently but for some reason it gave me 0.9.0 instead.

[2020-05-22 13:54] #1204 closed

[2020-05-22 14:01] vitsensei opened #1205 "Having a QSlider on top of GLViewWidget"
Hi,
After adding a QSlider on top of GLViewWidget, it seems like the 3D plotter does not automatically update after I move the slider, which result in a weird behavior like [this](https://imgur.com/L1T4qsO). Any idea on how to solve this? Thanks.
Edit: I tried the same thing with PlowWidget but it's working perfectly.

[2020-05-22 14:45] joshdoe commented on #19
I'd also like to see how to improve the performance of higher throughput videos. VideoSpeedTest at 1080p I get 47fps for mono uint8, but only 17fps for RGB8. RawImageWidget is even slower for me. This is on Windows 7.

[2020-05-23 10:04] mgtm98 opened #1207 "Debian 8 plots doesn't appear"
### Short description

When making plots in Debian 8 plot window appear normally but it doesn't plot.

### Code to reproduce

[code]
### Tested environment(s)

 * PyQtGraph version:  latest version from github
 * Qt Python binding:  pyside2
 * Python version: 3.7.3
 * NumPy version:
 * Operating system: Debian 8
 * Installation method:  from source

### Additional context

[2020-05-23 15:45] ixjlyons commented on #1207
Are you typing this code into a Python shell (i.e. running interactively)? There's some discussion of this situation [here](https://pyqtgraph.readthedocs.io/en/latest/how_to_use.html#command-line-use). With PySide2, you need to explicitly run the Qt event loop for the GUI to process events and update. You could do that by running `pg.mkQApp().exec_()` at the end. That should make the plot appear i

[2020-05-23 20:45] 2xB commented on #1205
Hey, could you please provide a minimal code example that one can execute to replicate this? Also, could you please fill out the default Issue template that you see when you click on "New issue" and then on "Getting started"? Both massively helps tracking down your issue.
Also, you can upload images directly to GitHub, which I would highly encourage, as there might be the need to revisit an issue

[2020-05-24 04:09] vitsensei commented on #1205
Hi,
Sorry for the low quality post. I use Ubuntu 18, with pyqt5 + pyqtgraph development branch. Here's the code that is mostly generated by qtcreator:
[code]

[2020-05-24 09:47] mgtm98 commented on #1207
I already do this
[code]
But it displays a blank window
![Screenshot from 2020-05-24 11-47-09](https://user-images.githubusercontent.com/43015074/82750969-4ffee380-9db4-11ea-8379-c319401eef17.png)

[2020-05-24 14:45] imLew commented on #1149
I am experiencing a similar issue with `InfiniteLine`.
For a horizontal line when `setValue(x)` is called with the absolute value of x<1e-12 the line is moved to 0.
When the line is movable it can be set to values less than 1e-12, but afterwards it will no longer be moveable.

[2020-05-24 21:54] 2xB commented on #1205
Okay, thank you. If someone wants to work on this, here's a version of the code that might be easier to use for debugging:

[code]

The issue: The area behind the slider is not redrawn when the slider is moved. It is redrawn if one uses a QWidget instead of a GLViewWidget though.

![image](https://user-images.githubusercontent.com/31772910/82765772-d568af00-9e19-11ea-8670-aaa0096532d3.png)

### Te

[2020-05-24 22:02] 2xB commented on #1205
Btw. this also appears for an ordinary `QGLWidget` instead of `pyqtgraph`s `GLViewWidget`. I can't judge if this is an issue of `pyqtgraph` or just inherited behavior from `Qt` though. Probably the reason for `Qt` behaving this way would be good to know now.

[2020-05-25 13:39] Aikhjarto opened #1208 "PolyLineROI: lines can be disconnected from handles"
### Short description
PolyLineROI: lines can be disconnected from handles

### Code to reproduce
[code]
Run the example GraphicsItems->Region-of-Interest.
Hold shift while clicking on a line of the PolylineROI object and start dragging. The line disconnects visually from the Ployline item.
![2020-05-25 15-34-52](https://user-images.githubusercontent.com/3519989/82817652-a72cb300-9e9d-11ea-8089-a0c

[2020-05-25 14:01] Aikhjarto commented on #1187
For some reason, the length of the title affects the width of the widget heavily. Equal title length produce same widths:
[code]
![image](https://user-images.githubusercontent.com/3519989/82819587-e577a180-9ea0-11ea-8d12-d1f74e158536.png)

[2020-05-25 20:02] ixjlyons commented on #1207
Could you provide some details of your configuration for running scripts (looks like pycharm)? Could you also try running the script from a terminal with just `python testPyqtgraph.py`? Finally, are you able to interact with the plot shown in the screenshot (i.e. can you zoom, pan, open a context menu, etc.)?

[2020-05-26 09:30] sophie-cal2020 opened #1209 "Symbols of scatter plot disappears after exporting."
### Short description

Was trying to run plotting.py in the examples folder.  And I noticed that the symbols of the scatter plots disappears in the .png after exporting.  I have installed pyqtgraph version 0.11.0.dev0 running on python 3.7.4.  I did a search on past issues and it seems that the problem should have been solved already?

[2020-05-26 14:09] j9ac9k commented on #1209
By `0.11.0.dev0` do you mean `0.11.rc0` or did you install pyqtgraph by aiming pip at the github repo?

[2020-05-26 17:30] j9ac9k commented on #1209
Not able to replicate from the current dev build:

![image](https://user-images.githubusercontent.com/646398/82931345-a34f6e00-9f3b-11ea-8cae-5f7bc734ee2f.png)

I installed `0.11.rc0` and could not replicate either

![image](https://user-images.githubusercontent.com/646398/82931556-f2959e80-9f3b-11ea-85f7-c9871aa13cf1.png)

[2020-05-27 01:56] sophie-cal2020 commented on #1209
Hi,

I installed version 0.11.0.dev0.  I just tested it again and realised that the problem only happens if I choose to export only a selected plot (e.g. the scatter plot on the top right).  Exporting the entire scene is fine.

![test](https://user-images.githubusercontent.com/65949208/82968488-03a7e380-a000-11ea-8de4-ba3c8a1013ef.png)

Thanks.

[2020-05-27 02:00] sophie-cal2020 commented on #1209
Just to clarify, i installed by aiming pip at the github repo.  Thanks.

[2020-05-27 05:01] mgtm98 commented on #1207
- I use conda environment
![Screenshot from 2020-05-27 06-58-21](https://user-images.githubusercontent.com/43015074/82979529-8f614600-9fe7-11ea-9a37-bc0310cd67b4.png)
- Yes i can interact with plot
- i already run i using pyhon3 testPyqtgrraph.py
- another code example i tried
[code]
and this was the output
![Screenshot from 2020-05-27 06-58-34](https://user-images.githubusercontent.com/43015074/8

[2020-05-27 05:20] j9ac9k commented on #1209
Can you tell us more about the system and version of Qt bindings you're using?

[2020-05-27 05:32] j9ac9k commented on #1187
Would anyone affected here mind trying the fix in PR #1173 and see if that addresses the issue for them?

[2020-05-27 06:02] sophie-cal2020 commented on #1209
I'm running on Windows 10 with PyQt5, version 5.13.0.  Thanks.

[2020-05-27 06:18] kangalioo commented on #1187
Doesn't seem to do anything for this specific bug.

pyqtgraph 0.11.0rc0:
![Screenshot_20200527_081756](https://user-images.githubusercontent.com/21220820/82984498-9477c280-9ff2-11ea-8a5d-b620fc811912.png)

pyqtgraph on your fix-1173-2 branch (ec66c34fc90fb18d2ed3b40fba2b63779a3f0e63)
![Screenshot_20200527_081813](https://user-images.githubusercontent.com/21220820/82984516-9d689400-9ff2-11ea-99a5-d

[2020-05-27 08:22] veeman commented on #788
@2xB Your change working properly on me.

Until a release of this i monkey patch it:
[code]

[2020-05-27 14:30] j9ac9k commented on #1187
@kangalioo thanks for looking into it!

[2020-05-27 14:32] #788 closed

[2020-05-27 14:45] j9ac9k commented on #1102
Looks like this was "fixed" upstream: https://bugreports.qt.io/browse/PYSIDE-1223

Versions of PySide2 5.14.2.2 and 5.15.0 have restored this functionality and our example app is able to run w/o issue now.  Huge thank you to @cmaureir for getting this feature re-implemented in the PySide2 library!

[2020-05-27 14:51] cmaureir commented on #1102
My pleasure! let me know if we can provide other functions to help pyqtgraph :)

[2020-05-27 15:33] j9ac9k commented on #1102
@cmaureir only other upstream issue we've identified with certainty is #1095 reported as QTBUG-80937 (I know this isn't a PySide specific issue) ...We'll be sure to reach out if we identify anything else!

[2020-05-27 22:09] diegoasua opened #1210 "Non-important warning with large images"
### Short description
When handling large images one gets a warning:

...\pyqtgraph\imageview\ImageView.py:588:

FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

  data = data[

[2020-05-27 23:33] j9ac9k commented on #1210
@diegoasua can you see if this is still an issue with 0.11.rc0?  you can install the rc build by running `pip install pyqtgraph==0.11.rc0`

[2020-05-28 09:24] erikmansson commented on #1189
Can anyone have a look at this? I have a potential fix ready at https://github.com/erikmansson/pyqtgraph/commit/4cae76bd29fc63b670aeba3bfb2a68993d8dfc91. I'll create a PR if it looks ok.

[2020-05-28 10:53] diegoasua commented on #1210
@j9ac9k this solved the issue, thanks!

[2020-05-28 10:53] #1210 closed

[2020-05-28 18:39] j9ac9k commented on #1189
Hi @erikmansson sorry for the late response and thank you for the detailed issue creation.

Your post and your commit on your fork looks good to me.  Changes in `GraphicsItem` can have big impacts to the library, so I would feel better about the process if our CI system did a run through the test suite.  If you could submit a PR with this change, our CI system will run through a test suite.

If yo

[2020-05-28 21:24] erikmansson commented on #1189
No problem - I've used my own fork in the meantime.

I'd love to show you, but the project is yet to be published openly. The issue appeared when zooming a plot with many (~100) LinearRegionItems visible. Fixing this cut the total draw time by half, making it a lot smoother.

[2020-05-28 22:39] j9ac9k commented on #1189
That's great to hear, I've experienced some other issues when plotting dozens/hundreds of linear region items, I've found some performance improvements in adding them in one go (didn't make the change upstream yet).

No problem is the project is still not available, I understand.

[2020-05-28 23:44] Knusper opened #1213 "Runtime Error in mouseMoveEvent - can not be traced back to call in application"
### Short description

My application using pyqtgraph crashes, and I don't even know why, as all I see on the console after a crash is:
[code]

### Expected behavior

No Runtime Error.  Traceback that could be linked in to call in application.

### Tested environment(s)

 * PyQtGraph version: 0.10.0
 * Qt Python binding:  ??
 * Python version:  3.6.10
 * Operating system:  Linux
 * Installation me

[2020-05-29 00:23] 2xB commented on #1213
Could you please quickly provide three things:
1. Does the error still occur, when you install pyqtgraph version 0.11.0rc0 from pip?
2. Could you please copy the application you are programming and successively simplify and delete everything that is not strictly needed to reproduce this error, until you are left with a very short minimal working example of code that you can post here? Such an exam

[2020-05-29 00:24] ixjlyons commented on #1213
Appears to be similar to #524. See also https://github.com/pyqtgraph/pyqtgraph/issues/80#issuecomment-49897776. Are you using `deleteLater` by chance?

[2020-05-29 00:33] Knusper commented on #1213
1.  I will try soon.
2.  This appears very difficult, as the code is several thousand lines of code.  So I don't even know where to start. Right now the error occurs randomly, i.e. I can not even reproduce what interaction  leads to the crash.
3. 'PyQt5 5.9.2 Qt 5.9.6'

No.

[2020-05-29 00:54] 2xB commented on #1213
Okay, thank you! For 2, don't worry, it's usually looking very hard at first, but deleting large amounts of stuff turns out to go very fast. It's also a great excercise, since one sometimes accidentally learns which parts of a codebase interact with which other parts, and if one is experienced in isolating a bug by deleting everything else, that is quite a useful skill for tracking down bugs in ge

[2020-05-29 01:12] 2xB commented on #1213
The bug btw. probably occurs after you do something with your GUI (e.g. switching visible plot widget?), maybe wait a second or two and then hovering above a `LinearRegionItem`? This kind of bug means usually that somewhere Qt is convinced that it lost all references to an object and therefore deletes it (see also https://wiki.qt.io/PySide_Pitfalls ). Without example code, it is hard to judge what

[2020-05-29 01:13] Knusper commented on #1213
This bug appears very infrequent, that is the problem... Its not something, that I start the application and after 5 seconds or so it crashes... Some input (which I haven't figured out) may trigger it... Probably I should be looking for things triggered by mouse movement?

[2020-05-29 01:15] 2xB commented on #1213
That was a lucky shot, the answer I sent one minute before you asked the question actually faces that exact question ^^

[2020-05-29 01:23] 2xB commented on #1213
It might also be that in your application a `LinearRegionItem` (the thing that highlights or selects an x or y axis range) is only sometimes visible or is under some circumstance deleted and the error might occur when you actively move your mouse pointer over the `LinearRegionItem` while it is destroyed.

[2020-05-29 01:40] j9ac9k commented on #1213
I suspect first order of business should be to try the 0.11rc0 I think some bugs in this area should be sorted out....but would definitely like to know if this is not the case!

[2020-05-29 18:22] 2xB commented on #1189
Closing since your PR #1212 was merged. Thank you for reporting!

[2020-05-29 18:22] #1189 closed

[2020-05-29 18:36] j9ac9k commented on #1102
Pre-maturely closed the issue, should have waited until we got the PR merged :|

[2020-05-29 19:55] Knusper commented on #1213
I will try with the rc0 first, thanks!

[2020-05-29 23:31] j9ac9k commented on #724
I think at this point, PySide2 5.12 is the oldest version of PySide2 we test/support, and we should remove the workaround.  With PySide2 5.15 now released, there have been two LTS releases since the version that had this bug.

[2020-05-30 04:33] j9ac9k commented on #1192
so on macOS I can't replicate, running your exact code:

![image](https://user-images.githubusercontent.com/646398/83319504-f2bfc380-a1f3-11ea-890a-6c5920b693a4.png)

Of course after I attempted to replicate, I saw you were on Windows 10... will try to replicate there.

[2020-05-30 04:49] j9ac9k commented on #1192
Ok, I can't reproduce on windows 10 either.

![image](https://user-images.githubusercontent.com/646398/83319717-b4c39f00-a1f5-11ea-95dd-54c07c087fb9.png)

Can you talk about how you create this environment?  Recreating the python2/pyside1 environments reliably in our CI process has been a challenge.

I have to create these environments using conda, with a config enabling the use of the free channe

[2020-05-30 06:11] #1087 closed

[2020-05-30 06:35] #808 closed

[2020-05-30 20:00] #731 closed

[2020-05-30 20:01] #1130 closed

[2020-05-30 20:04] #8 closed

[2020-05-30 20:04] #1136 closed

[2020-05-31 04:07] j9ac9k commented on #1081
unfortunately python2 does not support the `encoding` parameter, so not quite as easy as putting that there....that said PR #126 may actually fix the issue.

[2020-05-31 04:31] #1081 closed

[2020-05-31 05:30] #752 closed

[2020-05-31 05:31] j9ac9k commented on #834
Fixed with #755 being merged

[2020-05-31 05:31] #834 closed

[2020-06-01 05:34] j9ac9k opened #1220 "CI Failure on Linux with Qt 5.15"
Our PyQt5/Python3.8 newest/latest/greatest versions is failing right now at the debug stage:

[code]

PyQt5 5.15.0 was released hours ago, so not a lot of reports yet, but this does appear to be an upstream Qt issue:

https://bugreports.qt.io/projects/QTBUG/issues/QTBUG-84489

[2020-06-01 06:02] j9ac9k commented on #1220
I enabled QT_DEBUG_PLUGINs and re-ran:

[code]

[2020-06-01 06:15] j9ac9k commented on #1220
looks like it keeps complaining about a library not being found, but goes one library at a time, so I'm adding libraries with each run...eventually I'll have to have gotten them all, no?

[2020-06-01 06:34] j9ac9k commented on #1220
I think I got it, had to install the following extra libraries:

[code]

[2020-06-01 06:44] j9ac9k commented on #1220
Restored all configs, doing one last run through, if all green, I'll submit a PR and merge it here right away.

[2020-06-01 07:09] #1220 closed

[2020-06-01 09:56] campagnola commented on #724
I support removing this code.

[2020-06-04 04:11] Knusper commented on #1213
OK - so I tried with 0.11rc0 (`0.11.0.dev0+g0e62913`) and I ran the application for almost a day without the crash - so I guess this has been fixed.

[2020-06-04 04:54] j9ac9k commented on #1213
I'm really glad to hear it.  I'm going to close out this issue, but if you still run into some issues, please open a new issue.  Hopefully we'll have 0.11 shipped sooner than later.

[2020-06-04 04:54] #1213 closed

[2020-06-04 08:07] #1102 closed

[2020-06-04 17:50] ixjlyons commented on #1207
I'm not sure what might cause this, but I'd be inclined to try upgrading Qt.

[2020-06-04 17:53] j9ac9k commented on #1207
Just saw PySide2 5.6 ...yeah you're going to have a bad time there.  We had so many issues w/ that version that I completely scraped it from our CI pipelines and even added a blurb on the README about we recommend _not_ using it.

If you really want to stick w/ Python 5.6, use PyQt5 instead of PySide2, but we recommend upgrading to Qt 5.12 or newer is feasible.

[2020-06-04 18:02] j9ac9k commented on #1207
I'm going to close out this issue and chalk it up to the old version of PySide2, if you still have the same problem with PySide2 5.12 or newer, post back here and we'll investigate.

[2020-06-04 18:02] #1207 closed

[2020-06-04 22:50] j9ac9k commented on #1192
I'm going to close this issue since we can't reproduce and it's involving some _ancient_ Qt bindings which we have observed having trouble with ourselves.

I will say that 0.11 does support pyside1 bindings, as we do test against it (OpenGL stuff on macOS with python2 is an exception).  You can see my earlier post in the issue with how to replicate our test environment.  If you run into issues the

[2020-06-04 22:50] #1192 closed

[2020-06-05 09:01] Aikhjarto commented on #833
@ixjlyons This issues seems to also happen when adding a Dock that forces other Docks to resize.
[code]

Tested with pyqtgraph 0.11.0rc0

[2020-06-06 02:22] ntjess opened #1224 "Custom parameter item context menu is destroyed on context menu event"
### Short description

The following works in 0.10 to add custom menu options to a parameter:

[code]

However, the latest development branch errs out since the context menu isn't created until the first context menu event. A simple check for
[code]
can account for this, but then the subclasser is now responsible for also implementing removable/renamable/etc. which is not desirable.

### Expected

[2020-06-06 03:57] #724 closed

[2020-06-06 12:56] 2xB commented on #1224
In that case, could you check out merged Pull Request #1206? It provides a solid way to add context menu options to `ParameterItem`s via the public API.

[2020-06-06 14:08] 2xB commented on #1224
Just noticed that I accidentally broke part of the functionality from PR #1206 in PR #1175, added a simple PR #1225 to fix that.

[2020-06-06 18:36] ntjess commented on #1224
Thanks for pointing that out. I am developing an app for users with pip release versions, so I still have to use my custom solution for now. I just want to make sure my code is forward compatible

[2020-06-06 18:47] j9ac9k commented on #1224
@ntjess this issue was one of the last I think we've identified to address pre 0.11 release

[2020-06-06 19:39] kangalioo opened #1226 "Legend overlaps with plot contents"
### Short description

When adding a legend to a plot, the legend and the plot contents overlap. An example out of an application I'm building:
![image](https://user-images.githubusercontent.com/21220820/83953076-b0266880-a83d-11ea-92c4-d0d14b892821.png)

### Code to reproduce

[code]

### Expected behavior
I could imagine multiple possible fixes:

1. Make the legend opaque
2. Automatically zoom o

[2020-06-06 22:02] ixjlyons commented on #1226
You can specify a brush for the `LegendItem` to have an opaque background:

[code]

There are a couple actionable items I think:

It's not obvious from the [docs](https://pyqtgraph.readthedocs.io/en/latest/graphicsItems/legenditem.html) that you can do this, so I'd say we should make sure each settable feature of the legend is documented.

It might also be nice for `addLegend` to take `**kwargs` a

[2020-06-06 22:06] 2xB commented on #1226
The invisible default background for legend is btw. new since PR #958, using 0.10 legends have a solid background.

[2020-06-06 22:13] kangalioo commented on #1226
uhhh?
![Screenshot_20200607_001245](https://user-images.githubusercontent.com/21220820/83955478-a0b21a00-a853-11ea-9155-de52968d2a62.png)
Is this another bug or am I using it wrong

[2020-06-06 22:18] ixjlyons commented on #1226
Ah, that was fixed by #1139 and didn't make it in 0.11.0rc0

[2020-06-06 22:30] ixjlyons opened #1227 "Duplicate clear methods in LegendItem"
https://github.com/pyqtgraph/pyqtgraph/blob/1c67d3ea2f9c91390947fb7f1a3b07692c9ed3a8/pyqtgraph/graphicsItems/LegendItem.py#L179-L195

Any preference?

[2020-06-06 22:38] kangalioo commented on #1226
Back to the git version of pyqtgraph I guess. That's better anyway with all the new features. Thanks for the quick response btw

[2020-06-06 22:42] j9ac9k commented on #1226
FWIW this is the first issue that's been reported that wasn't addressed by 0.11rc0 I think.

[2020-06-06 22:44] j9ac9k commented on #1227
I'm assuming there is some spacing issues with the code snippet here, as the lines in the first clear function aren't indented properly....

I'm partial to the code in the first, being that it's more readable IMO.

[2020-06-06 23:25] #1226 closed

[2020-06-06 23:29] j9ac9k commented on #1227
Fixed with #1228

[2020-06-06 23:29] #1227 closed

[2020-06-06 23:29] j9ac9k commented on #1171
Fixed with #1228

[2020-06-06 23:29] #1171 closed

[2020-06-07 03:05] j9ac9k commented on #1227
Fixed with #1228

[2020-06-07 04:30] ntjess opened #1232 "setSymbol<opt>() on PlotDataItem with numpy array raises error"
### Short description

ScatterPlotItem checks whether the new symbol is an array and proceeds accordingly. However, PlotDataItem checks whether `self.opts['symbol'] == symbol` which crashes when one or both of the arguments are arrays.

### Code to reproduce

[code]

### Expected behavior

`setSymbol` with plot item should behave like setSymbol on scatterplot item (right?)
### Real behavior

Value

[2020-06-07 04:35] ntjess commented on #1232
I think simply checking `np.array_equals()` instead of `==` would resolve this issue

[2020-06-07 04:39] ntjess commented on #1232
I see this is also the case for `setSymbolBrush`, 'Size`, etc.

[2020-06-07 05:28] j9ac9k commented on #1232
Looks like `self.opts['symbol'] is expecting a `str` and not a `np.ndarray`, so `np.array_equal()` wouldn't work in that regard.  .... looking at the ScatterPlotItem, there is some logic to handle the case of symbols being a numpy array.

I haven't actually worked with these objects, so I don't feel comfortable with making claims to how they should work (or assessing your suggestions of those meth

[2020-06-07 05:29] ksunden commented on #1232
Any particular reason you are using numpy arrays here? numpy arrays of strings are mildly unusual, and a simple list works fine:

[code]

[2020-06-07 05:43] ksunden commented on #1232
@j9ac9k The line that is failing is there to avoid superfluous calls to `updateItems` when the symbol is set to what it already was.

All that said, `np.array_equal` does in fact validly compare strings and lists as well, but 2-3 orders of magnitude slower than `==`

[2020-06-07 05:50] j9ac9k commented on #1232
I just did some timeit measurements, yeah just replacing `==` with `np.array_equal` is not something I'm thrilled about

[code]

I'm not opposed to throwing some `ifinstance` logic in there, it adds a little complexity but preserves the performance.

[2020-06-07 06:51] ntjess commented on #1232
For large arrays the performance converges and it helps when the sizes are mathematically computed, but I didn't realize the time disparity was that significant. I'm fine with changing my code and since the documentation doesn't specify compatibility with ndarrays I don't think it would be API-breaking

[2020-06-07 06:51] #1232 closed

[2020-06-07 07:09] ntjess commented on #1232
@ksunden numpy arrays provide much faster indexing when a few pens in a long list must be changed:
[code]

[2020-06-07 19:38] kangalioo opened #1233 "Segfault with pg.plot(axisItems={"bottom": pg.DateAxisItem()})"
### Short description
Segfault with `pg.plot(axisItems={"bottom": pg.DateAxisItem()})`

### Code to reproduce

[code]

### Expected behavior
No segfault

### Real behavior
Segfault

[code]

### Tested environment(s)

 * PyQtGraph version: 6bd029915207e96ec4bd37cf6f52be31c3f10ee0
 * Qt Python binding: PyQt5 5.14.2 Qt 5.14.2
 * Python version: 3.8.3
 * NumPy version: 1.17.4
 * Operating system: Arch

[2020-06-07 19:49] kangalioo opened #1234 "Plots with custom x-axis and default y-axis have the y-axis missing"
### Short description
This is such a hilariously random but game-breaking bug; here goes: When a plot has a custom x-axis, but **not** a custom y-axis, the y-axis doesn't appear.
This issue has been introduces somewhere in-between 5cd19ba7a0eccf5158b16257470279d1acf4e6a1 and 6bd029915207e96ec4bd37cf6f52be31c3f10ee0 (inclusive).

### Code to reproduce

[code]

### Expected behavior
The y axis shoul

[2020-06-07 20:45] j9ac9k commented on #1233
@ixjlyons  you run arch right? Can you replicate?

[2020-06-07 21:10] j9ac9k commented on #1233
Wait, you haven't started the Qt event loop or have an application instance running.

[code]

Try that.

[2020-06-07 21:24] j9ac9k commented on #1234
I don't know if this qualifies as a bug, there are plenty of instances where a vertical axis may not be desirable, especially if you're explicitly specifying axes, but do not specify a vertical axis.

[2020-06-07 21:25] ksunden commented on #1234
related: https://github.com/pyqtgraph/pyqtgraph/pull/391

[2020-06-07 21:31] j9ac9k commented on #1234
Ahh thanks for the reference @ksunden we did indeed change some of this behavior...

I'd be open to a suggestion as to why pyqtgraph should behave differently from how it does now, but the current behavior makes sense to me.  If you're going to specify axes, why would you be surprised if an axes you didn't specify isn't there.

[2020-06-07 21:31] ksunden commented on #1233
@j9ac9k that script displays the window, but still segfaults after it is done

[2020-06-07 21:35] ixjlyons commented on #1233
Yep, getting an application instance first should fix it. This is a somewhat tricky issue -- `pg.plot()` creates an application instance for you, but the `DateAxisItem` object is instantiated before the function runs, so you get an unhelpful segfault.

The segfault @ksunden is referring to happens because there's no reference to the `GraphicsView` created by `plot` when the app exits.

[2020-06-07 21:36] kangalioo commented on #1234
I've always seen the axisItems argument as optional arguments. So, when you do `axisItems={"bottom": whatever}`, you're overwriting the default. I mean, the way you described it also make sense. Both ways make sense.

But seeing as pyqtgraph has always done it the former way, changing it would be a breaking change without particularly good reasoning imo

[2020-06-07 21:41] j9ac9k commented on #1233
Can confirm, having the reference did the trick for avoiding the segfault (and due to @2xB I had that nice little warning about not having a reference too!).

[2020-06-07 21:41] kangalioo commented on #1233
Oh I see. That makes total sense. I wonder if it would make sense for all pyqtgraph objects to have the capability to create an application instance if needed?

[2020-06-07 21:45] j9ac9k commented on #1233
I'd be open to a PR for that, but I would be worried about performance issues with that lookup.  Also not entirely sure if that should occur (probably one of the objects that everything inherits?).

I know PySide2 5.15 recently changed how the `qApp` variable works, so I'd be really worried about making something fast and cross-compatible with our present number of supported Qt bindings.

[2020-06-07 21:46] j9ac9k commented on #1233
Closing due to need  for starting a QApplication instances and needing to store the plot with a python reference so the garbage collector doesn't grab it.

[2020-06-07 21:46] #1233 closed

[2020-06-07 21:59] 2xB commented on #1234
I would suggest to revert the behaviour to what it was 6 days ago, since this would be a break between 0.10.0 and 0.11.0, which we try to avoid. This changes e.g. the plot customization example or the `dateaxisitem.py` example, and it definitely affects anyones application when someone is using custom axes with 0.10.0.

[2020-06-07 23:52] ntjess commented on #1232
@j9ac9k Thought about this a bit more after waking up today. It is possible to go the EAFP route if desired to avoid performance penalties for list or scalars:
[code]

[2020-06-08 00:10] ixjlyons commented on #1234
Also note we now have two methods for setting the axis items:

https://github.com/pyqtgraph/pyqtgraph/blob/f43b2973125a4510fbd1dda300cce2cee249e422/pyqtgraph/graphicsItems/PlotItem/PlotItem.py#L263

https://github.com/pyqtgraph/pyqtgraph/blob/f43b2973125a4510fbd1dda300cce2cee249e422/pyqtgraph/graphicsItems/PlotItem/PlotItem.py#L325

It seems to be two independent implementations from #391 and #115

[2020-06-08 01:34] j9ac9k commented on #1234
oof ...when merging #391 I didn't think to account for the use of #1154, which came from well after the fact.

Is there a suggested implementation/behavior we should aim for?

[2020-06-08 01:53] ksunden commented on #1234
Would simply reverting #391 be an option? (more clearly, does the `setAxisItems` method introduced in #1154 subsume the usecase of #391 entirely, without breaking backwards compatibility?)

[2020-06-08 03:08] j9ac9k commented on #1234
I'm good with reverting #391 I would like to make sure that `setAxisItems` method introduced in #1154 meets the issue that #391 was trying to address.

[2020-06-08 03:28] j9ac9k commented on #1234
On further reflection, if things were good the way before, being on the eve of a release, let's just revert #391 and I'll revisit later.

[2020-06-08 03:55] j9ac9k commented on #1234
I reverted #391 @kangalioo can you verify you're getting the intended behavior?

[2020-06-08 06:41] kangalioo commented on #1234
Yes! Everything seems to work perfectly in the latest commit

[2020-06-08 11:22] #1234 closed

[2020-06-08 15:27] kangalioo opened #1236 "Scaled text inside a plot widget?"
### Short description
It would be great to have a possibility to insert scaled text inside a plot widget. We already have TextItem and LabelItem, but:
- TextItem is unscaled - it's always the same size and as such unusable for the purpose of labeling a graph in the plot widget
- LabelItem is not meant for inside a PlotWidget. It _can_ be inserted nevertheless, but it doesn't work correctly

My use

[2020-06-08 16:48] 2xB opened #1237 "TextItems sometimes positioned wrong"
### Short description
When using a `TextItem` with e.g. the anchor position (0,5), and one zooms out, the `TextItem` is everywhere but at (0,5).

### Code to reproduce
[code]

### Expected behavior
`TextItem` should be at `(0,5)`.

### Real behavior
![image](https://user-images.githubusercontent.com/31772910/84057670-4aaab700-a9b8-11ea-9c77-b4f58798b854.png)

### Tested environment(s)

 * PyQtGrap

[2020-06-08 16:57] 2xB commented on #1236
Are you helped with this? You see there the exemplary use of custom font sizes for `TextItem`s.

[code]

[2020-06-08 17:14] kangalioo commented on #1236
Neat, didn't you could do that. However, no, unfortunately it's not what I need. I need the text to scale with zooming, just like the graphs do.

[2020-06-08 18:33] ixjlyons commented on #1237
This gets at a bigger issue I've noticed, which is inherited methods can be a pain to find. The class hierarchy is somewhat complex (#848) and we don't currently generate docs for inherited (and non-overriden) methods. I think I would be in favor of displaying all inherited methods that have docstrings. Qt docs have a nice feature of having a separate page for "all members docs" to reduce clutter,

[2020-06-08 19:00] j9ac9k commented on #1236
I use a TextItem that maintains the same font regardless of zoom in one of my applications

Admittedly it's not the prettiest solution, but it works well

I create the TextItem, and add it to the viewbox.  I set the anchor at (0, 0)

Anytime the viewbox changes I run

[code]

Here is a blurb I have on the text updating with mouse position

[code]

[2020-06-08 19:51] j9ac9k commented on #1237
I would be 👎 on trying to emulate the "all member docs", as the Qt docs have.  While it can be handy, it's often rather annoying, as often I'm trying to find the name of a method (or the expected arguments) and have just a keyword.  I'd much rather people be able to Ctrl+F their way to what they're looking fo, even if the pages get lengthy.

Regarding having docstrings for all methods, I'm definit

[2020-06-08 20:08] 2xB commented on #1237
I would if possible vote for a style similar to the default javadoc style, as can be seen in action here: https://docs.oracle.com/en/java/javase/14/docs/api/java.desktop/javax/swing/JComboBox.html
There STRG+F works, as all inherited methods are listed on the same page, in a compact, comma-separated style, also showing exactly from where the methods are inherited. But it does not introduce any clu

[2020-06-08 20:21] 2xB commented on #1224
@ntjess If this solves your issue, might you close it?

[2020-06-08 21:30] j9ac9k commented on #1237
I've struggled w/ following that kind of documentation format; but I should probably spend a little more time reading it and I'm sure it will come to me.  That said, probably should implement whatever is easy to implement via sphinx.

[2020-06-09 00:03] ntjess commented on #1224
Whoops, I thought I closed it earlier. My apologies.

[2020-06-09 00:03] #1224 closed

[2020-06-10 03:13] j9ac9k commented on #344
Fixed with #1240

[2020-06-10 03:13] #344 closed

[2020-06-11 16:28] 2xB commented on #15
There is a "simple fix", with the consequence that the drag event can no longer be cancelled. It works like this:
`DockDrop.dropEvent` has to accept the event by `ev.accept()`. This allows the following modification of `Dock.startDrag`:

[code]

This solution can be easily put in a PR, if it is okay to loose the ability to cancel the drag event in favour of the possibility to drag a dock outside.

[2020-06-12 03:11] j9ac9k opened #1246 "Segfault when exiting Command Line Usage Example"
### Short description
When Running the command line example, and closing the window, I get a segmentation fault

### Code to reproduce

[code]

Run the command line usage example, and close out the window.

### Expected behavior
Window closes

### Real behavior
Window closes, generates a segfault

[code]

### Tested environment(s)

 * PyQtGraph version: 0.11
 * Qt Python binding: PySide2 5.15.0 an

[2020-06-12 03:36] j9ac9k commented on #1246
Using git-bisect (I'm a noob at it, so I may have screwed it up), this commit appears to be the culprit:

https://github.com/pyqtgraph/pyqtgraph/commit/983cc1695e1b011e961a9d92a062355697010405

[2020-06-12 04:20] #1246 closed